
<script type="text/javascript" src="/sites/all/libraries/soundmanager2/script/soundmanager2_tt.js"></script>
<script src="/sites/all/libraries/soundmanager2/script/turntable.js"></script>
<script src="/sites/all/libraries/soundmanager2/script/turntable-app.js"></script>

<link rel="stylesheet" href="/sites/all/libraries/soundmanager2/turntable/css/turntable.css" />

<div id="turntable-wrapper" class="clearfix">

  <div class="turntable-indv-wrapper">

    <!-- start turntable -->

    <div id="turntable-1" class="turntable has-slipmat">

     <div class="frame"></div>

     <div class="table-bg"></div>

     <!-- image that sets the base dimensions-->
     <img src="/sites/all/libraries/soundmanager2/turntable/image/tt_case_and_lighting.png" alt="" class="stub" />

     <div class="bd">

      <div class="platter"></div>
      
      <div class="slipmat-holder">
       <div class="slipmat"></div>
      </div>

      <div class="record-holder">
       <div class="record"></div>
       <div class="record-grooves"></div>
       <div class="label"></div>
      </div>

      <div class="spindle"></div>
      <div class="power-light"></div>
      <a href="#" class="power-dial" data-method="powerToggle"></a>
      <a href="#" class="button start-stop" data-method="toggle"></a>
      <a href="#" class="button speed-33 on"></a>
      <a href="#" class="button speed-45"></a>
      <div class="light light-on"></div>
      <a href="#" class="button light"></a>
      <div class="tonearm-holder">
       <div class="tonearm"></div>
      </div>
     </div>

    </div>

    <!-- end turntable -->

    <ul class="turntable-playlist">
      <li><a href="/lounge/nunz/Love_Tribe_Vibes.mp3" data-turntable="turntable-1" data-artwork="/sites/all/libraries/soundmanager2/turntable/image/SalGuitar.jpg"><b>Love Tribe Vibes</b></a> - by Nunz</li>

      <li><a href="/lounge/RavianaAlbum1/BLUE_SUN.mp3" data-turntable="turntable-1" data-artwork="/sites/all/libraries/soundmanager2/turntable/image/hippiebus1.jpg"><b>Blue Sun</b></a> - Raviana </li>

      <li><a href="/lounge/nunz/Gopala_Jay.mp3" data-turntable="turntable-1" data-artwork="/sites/all/libraries/soundmanager2/turntable/image/SalGuitar.jpg"><b>Gopala Jay</b></a> - by Nunz</li>
      
      <li><a href="/lounge/RavianaAlbum1/DONT_HOLD_BACK.mp3" data-turntable="turntable-1" data-artwork="/sites/all/libraries/soundmanager2/turntable/image/hippiebus1.jpg"><b>Don't Hold Back</b></a> - Raviana</li>
    </ul>

  </div>

  <div class="turntable-indv-wrapper">

  <!-- start turntable -->

  <div id="turntable-2" class="turntable has-slipmat has-record">

    <div class="frame"></div>

    <div class="table-bg"></div>

    <!-- image that sets the base dimensions-->
    <img src="/sites/all/libraries/soundmanager2/turntable/image/tt_case_and_lighting.png" alt="" class="stub" />

    <div class="bd">

     <div class="platter"></div>
      
     <div class="slipmat-holder">
      <div class="slipmat"></div>
     </div>

     <div class="record-holder">
      <div class="record"></div>
      <div class="record-grooves"></div>
      <div class="label"></div>
     </div>

     <div class="spindle"></div>
     <div class="power-light"></div>
     <a href="#" class="power-dial" data-method="powerToggle"></a>
     <a href="#" class="button start-stop" data-method="toggle"></a>
     <a href="#" class="button speed-33 on"></a>
     <a href="#" class="button speed-45"></a>
     <div class="light light-on"></div>
     <a href="#" class="button light"></a>
     <div class="tonearm-holder">
      <div class="tonearm"></div>
     </div>
    </div>

   </div>

   <!-- end turntable -->

    <ul class="turntable-playlist">
      <li><a href="/lounge/nunz/Feel_The_Light.mp3" data-turntable="turntable-2" data-artwork="/sites/all/libraries/soundmanager2/turntable/image/IMG_3500.jpg"><b>Feel The Light</b></a> - by Nunz</li>
      
      <li><a href="http://freshly-ground.com/data/audio/sm2/SonReal%20-%20Everything%20I%20Am.mp3" data-artwork="/sites/all/libraries/soundmanager2/turntable/image/LoveTribeVibe3.jpg" data-turntable="turntable-2"><b>Woo Hoo Guru</b></a> - byToptomato, Raviana</li>
      
      <li><a href="/lounge/nunz/Wide_Open.mp3" data-turntable="turntable-2" data-artwork="/sites/all/libraries/soundmanager2/turntable/image/wide_open_album_cover.jpg"><b>Wide Open</b></a> - by Nunz</li>

      <li><a href="/lounge/RavianaAlbum1/O.mp3" data-turntable="turntable-2" data-artwork="/sites/all/libraries/soundmanager2/turntable/image/hippiebus1.jpg"><b>O</b></a> - Raviana</li>
    </ul>

  </div>
</div>
