input[type="submit"] {
	font-family: $bebasNeue;
}

select {
	border:1px solid $ltvGreen;
}

input[type="text"], input[type="password"] {
	border:1px solid $ltvGreen; 
	color:$drkBlueTxt;
}
 
::-webkit-input-placeholder {
   color: rbg(235, 235, 235);
}

:-moz-placeholder { 
   color: rbg(235, 235, 235);
}

::-moz-placeholder {  
   color: rbg(235, 235, 235);
}

*:focus {
	outline: 0;
}

fieldset {  
		border:2px solid $ltvGreen;
		background-color:rgba(255, 197, 43, 0.15);
		@include gen-purpose-border-radius;
		margin-bottom: 12px;
		legend {
			font-variant:small-caps;
			font-weight:bold;
		}
	}

/* BROWSE ALBUMS */
.view-browse-albums {

	.views-exposed-widgets {

		

	
		.views-submit-button {
			padding-top:0;
		} 
		
	input[type="text"] { 
		border:1px solid $ltvGreen !important;
		width:220px !important;
		height:43px !important;
		border-radius:2px !important;
		margin-top:5px;
	}
	
}

}
