/**
 * @file
 * Styling for the ds-2col-stacked template.
 */

/*

.ds-2col-stacked > .group-header {
}

.ds-2col-stacked > .group-left {
  float: left; 
  width: 50%;
  clear:left							;
}

.ds-2col-stacked > .group-right {
  float: right; 
  width: 50%;
}

.ds-2col-stacked > .group-footer {
  clear: both;
}

*/