@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "toolkit/kickstart";

@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";
@import "layout/**/*";

$breakpoint-to-ems:true;

/* BREAKPOINTI VARIABLES */

$desktop:(min-width:1025px);
$tablet-landscape:769px 1024px; /* from AT Media Q's*/
$tablet-landscape-min:769px;
$tablet-portrait:581px 768px;
$tablet-portrait-max:(max-width:768px);
$tablet-min:(min-width:581px);
$tablet-all:581px 1024px; /* from AT Media Q's*/
$touch-landscape-max:(max-width:580px);
$touch-landscape:(321px 580px);
$touch-portrait-max:(max-width:320px); /*max width! */
$mobile-menu:0 768px;
$small-touch-max:0 580px;
$desktop-menu:(min-width:769px); 

/* CONTROL WHICH MENUS */
@include breakpoint($desktop-menu) {  
	#main-nav-wrapper {display:block;}
	#mobile-header {display: none;}	
	#mobile-nav {display:none;}
}

@include breakpoint($mobile-menu) {
	#top-nav {display:none;}
	#main-nav-wrapper {display:none;}
	#mobile-header {display:block;}	
}
/* END CONTROL WHICH MENUS */


/* OTHER VARS */
$desk-content:940px; /* Background img requires larger size than 1120 */
$main-content-desktop:940px; 

/* GLOBAL STUFF HERE */

@include add-grid(16);
@include add-gutter(1/3);
@include add-gutter-style('split');
@include sgs-change('debug', true);



ul.breadcrumb, h2.element-invisible {display:none} 

* {margin: 0;}

html, body {height: 100%;}

.l-page {
	width:100%;
}



.l-page {overflow-x:hidden;  
overflow-y:hidden; }

.l-main {
overflow-x:visible;  
overflow-y:visible; 
}


%global-l_main-padding-top {
	position:relative; /*Needed for Social Media icons */
	 padding-top:10px;  
	 
 	@include breakpoint($desktop) {
		padding-top:24px;
	}
	@include breakpoint($tablet-landscape) {
		padding-top:20px;
	}
	@include breakpoint($tablet-portrait) {
		padding-top:16px;
	}
} /*END GLOBAL PAGE PADDING TOP */ 

@mixin padding-top-mobile-no-social {
	padding-top:0;
}  

%global-l_main-padding-bottom {
	position:relative; /*Needed for Social Media icons */
	@include breakpoint($desktop) {
		padding-bottom:24px;
	}
	@include breakpoint($tablet-landscape) {
		padding-bottom:20px;
	}
	@include breakpoint($tablet-portrait) {
		padding-bottom:16px;
	}	
}

%lh-col-el-width {
	@include grid-span(6, 1, 8);
}

@mixin lh-col-el-width {
	@include grid-span(6, 1, 8);	
}

@mixin search-rh-width {
	
}

@mixin page-side-padding-portrait { /* TO BE USED W/ NAV-WRAP AND .L-MAIN */
	padding-left:1.5%;
	padding-right:1.5%;
}

/* GLOBAL PAGE LAYOUT CONTAINERS */

.l-main { 
	height:100%;
	@include clearfix;
	
	@include breakpoint($desktop) {
		min-height:360px;  
		width:$main-content-desktop;
		
		}
	@extend %global-l_main-padding-top;	
	border-left:0px solid #f00;
	border-right:0px solid #f00;
	margin:0 auto;
	@extend %global-l_main-padding-bottom;	
}

.l-content {
	position:relative;
	border:0px solid red;
	
	padding-top:50px; /* mobile only! social media goes here */
	@include breakpoint($tablet-portrait) {padding-top:0px;}   
	@include breakpoint($tablet-landscape) {padding-top:0px;}
	@include breakpoint($desktop) {padding-top:0px;}
	 
	}	
  
/* SET STICKY FOOTER CONTROLS HERE */
.l-page {
	min-height: 100%;

	padding-bottom:2em;

	margin-bottom:-475px;  
	}


.super-footer {
	width:100%;
	position:relative;
	display: none; /* TEMP */
	 
}
footer, .push { 
	
	height:575px;	
	
	@include breakpoint($tablet-min){
		height:475px;
	}
}

footer {
	position: relative;
	width:100%;
	background-color: $ltvYellow;
	
}
 
.l-footer {
	
	@include clearfix;
	padding-top:10px;
	
	clear:both;
	
	.l-region--footer {
		margin:0 auto;
		@include breakpoint($desktop) {
		width:$main-content-desktop;
		/*NAV css is located at _footer.scss */	
		}
	@include breakpoint($tablet-portrait) {
		width:85%;
	}
	@include breakpoint($tablet-landscape) {
		width:90%;
	}	
	}
}

/* END GLOBAL */

body.front .l-page { /* MOBILE FIRST ;-) */
	

}

/* @media only screen and (min-width:1025px) { */
@include breakpoint($desktop) {

/* moved to global 
@include add-grid(16);
@include add-gutter(1/3);
@include add-gutter-style('split');
@include sgs-change('debug', true);
*/

body.front .l-page {
/* background:url('/sites/default/files/bg-ana-homepage.png') no-repeat 0 91px;  */

	.l-main {/* height:1250px; */  /*HACK! */}

.panels-flexible-1 {
	/*
	position:relative;
	display:block;
	*/
	}

	.pane-albums-for-homepage-footer-promo h2{
		
		display:block;
		width:100%;
		
		}
}	

/* END HOMEPAGE FOOTER */


/*ALBUM DISPLAY FOOTER */

#block-views-album-display-footer-block {
	/* @include grid-span(7, 3); */
	width:760px; /*change */
	margin:0 auto;
	position:relative;
}

} /*END MEDIA QUERY SCREEN WIDTH 1025 */

.l-page {
	background-image:url('/sites/default/files/bg-swirl-orange.png');
	margin-top:0;
	margin-left:auto;
	margin-right:auto;
	background-size: auto;
	background-repeat: no-repeat;
	@include breakpoint($desktop){background-position: center 91px;}
	@include breakpoint($tablet-landscape){background-position: center 66px;} /*NOTE THIS IS HEADER HEIGHT */
	/* width:$desk; */
	/* padding-left:95px;
	 padding-right:95px; */
	
	/*  @include clearfix; removed temp */ 
	/* overflow-y:auto; */
	/* padding-bottom:80px; not working with super footer */
}

header {
	width:100%;
	/* background-color:$blueGreen; */
	margin:0 auto; 
	@include clearfix;
	
}

.l-main {
	
}
/* 
.l-main { MOVED OUT OF QUERY
	height:100%;
	@include clearfix;
	@include breakpoint($touch-landscape-max) {
		
	}
	@include breakpoint($desktop) {
		
		width:$main-content-desktop;
		
		}
	@extend %global-l_main-padding-top;	
	border-left:0px solid #f00;
	border-right:0px solid #f00;
	margin:0 auto;
	@extend %global-l_main-padding-bottom;	
}

*/
.l-content {
	padding-left:1%;
	padding-right:1%; 
	
	@include breakpoint($tablet-landscape) {
		position:relative;
		padding-left:10px;
		padding-right:10px;
	}
	@include breakpoint($tablet-portrait) {
		position:relative;
		@include page-side-padding-portrait;
	}
	@include breakpoint($desktop) {
		padding-left:0;
		padding-right:0; 
	}
}

/* DISPLAY SUITE */
.ds-2col-stacked > .group-header {
}

.ds-2col-stacked > .group-left, .ds-2col-stacked > .group-right { /*MOBILE FIRST 1 COLUMN */
	  float: none; /* LTR */
	  width: 100%;
	  clear:both;
	}

@include breakpoint($tablet-min){  

	.ds-2col-stacked > .group-left {
	  float: left; /* LTR */
	  width: 50%;
	  clear:left							;
	}

	.ds-2col-stacked > .group-right {
	  float: right; /* LTR */
	  width: 50%;
	  clear:none;
	}
}


.ds-2col-stacked > .group-footer {
  clear: both;
}

#widthMonitor{
position: absolute;
top:0;left:0;
	width: 35px;
	height:20px;
	background: #000;
	color:#fff;
	font-size: 10px;
	z-index:100;
}


