$base-font-size: 16px !default; 

$base-font-size:14px;
$base-line-height:12px; /* used to fix annoying sass error, dont' use this var */

/**
 * $FONT-FACE
 */

@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/bebas___-webfont.eot');
    src: url('../fonts/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas___-webfont.woff2') format('woff2'),
         url('../fonts/bebas___-webfont.woff') format('woff'),
         url('../fonts/bebas___-webfont.ttf') format('truetype'),
         url('../fonts/bebas___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('../fonts/bebasneue_regular-webfont.eot');
    src: url('../fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_regular-webfont.woff') format('woff'),
         url('../fonts/bebasneue_regular-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/** 
 * FLATICONS 
*/

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
    url("../fonts/flaticon.woff") format("woff"),
    url("../fonts/flaticon.ttf") format("truetype"),
    url("../fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
font-style: normal;
}
/*
.flaticon-facebook2:before {
    content: "\e000";
}
.flaticon-logo22:before {
    content: "\e001";
}
.flaticon-youtube31:before {
    content: "\e002";
}
*/

.flaticon-facebook2:before {
    content: "\e000";
}
.flaticon-logo22:before {
    content: "\e001";
}
.flaticon-magnifier12:before {
    content: "\e002";
}
.flaticon-magnifier13:before {
    content: "\e003";
}
.flaticon-marker20:before {
    content: "\e004";
}
.flaticon-next25:before {
    content: "\e005";
}
.flaticon-play-button4:before {
    content: "\e006";
}
.flaticon-play109:before {
    content: "\e007";
}
.flaticon-play43:before {
    content: "\e008";
}
.flaticon-right133:before {
    content: "\e009";
}
.flaticon-shopping-cart13:before {
    content: "\e00a";
}
.flaticon-shopping-cart7:before {
    content: "\e00b";
}
.flaticon-shopping122:before {
    content: "\e00c";
}
.flaticon-shopping232:before {
    content: "\e00d";
}
.flaticon-videoplayer5:before {
    content: "\e00e";
}
.flaticon-youtube31:before {
    content: "\e00f";
}

/* ICO MOON */
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?7cm3b3');
    src:url('../fonts/icomoon.eot?#iefix7cm3b3') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?7cm3b3') format('truetype'),
        url('../fonts/icomoon.woff?7cm3b3') format('woff'),
        url('../fonts/icomoon.svg?7cm3b3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-menu:before {
    content: "\e9bd";
}
.icon-menu2:before {
    content: "\e9be";
}
.icon-menu3:before {
    content: "\e9bf";
}
.icon-cart:before {
    content: "\e93a";
}


/* %flaticon-icons { */
a.social-icons {       
    color:$blueGreen !important;
    &:hover{
        transition:color 0.3s;
        color:$ltvGreen !important;
    };
}
 
$bebas:'bebasregular';
$bebasNeue:'bebas_neue_regularregular';
$oswald:'Oswald', Helvetica, Arial, sans-serif;
$maven-pro:'Maven Pro', Helvetica, Arial, sans-serif;
$pt-sans:'PT Sans', Helvetica, Arial, sans-serif; /* looks like Verdana, or Trebuchet */
$mainNav:Arial, Helvetica, sans-serif; 
$arial:Arial, Helvetica, sans-serif; 

body {
    font-size: 16px; 
}

h1, h2, h3 {
    color:#00a5b0;
    font-family: $bebasNeue;
    line-height: 1;
    margin: 0;
    padding: 0;

}

h1, h2 {
    text-transform: uppercase;
}

@mixin headline-default {
    color:#00a5b0;
    font-size:3.5em;
}

%headline {
    color:#00a5b0;
    /* font-size:2.375em; */
    /* font-size:56px; */ 
    
    font-size:3.5em;

    @include breakpoint($tablet-portrait) {
        font-size:56px; 
    }
    @include breakpoint($tablet-landscape) {
        font-size:56px; 
    }
    @include breakpoint($desktop) {
        font-size:56px; 
    }
    padding:0;
    font-family:$bebasNeue;
    text-transform:uppercase;
}

%headline-large {
    font-size:38px;
}

@mixin slogan-anime($font-size, $text-align) { /* was 62px */
    color:$blueGreen;
    font-family:$bebasNeue; 
    text-shadow: -1px -1px 3px rgba(150, 150, 150, 0.67);
    font-size:$font-size;
    text-align:$text-align; 
    /* 
    @include breakpoint($touch-landscape){
        font-size:62px;   
        text-align:left;
    }

    @include breakpoint($tablet-portrait){
        font-size:72px;   
        text-align:left;
    }


    @include breakpoint($tablet-landscape){
        font-size:72px;   
        text-align:left;
    }
    @include breakpoint($desktop){
        font-size:75px;  
        text-align:left;
    }
    */
}

%genre-label {
    font-weight:bold;
    color:$drkBlueTxt;
    font-size:.75em;
}

$textShadow:#de638b 1px 1px 0px;

.notice {font-size: .65em; font-family: $arial}
  

