
/* DOES NOT! INCLUDE CREATE ACCOUNT PAGE */

body.section-users, body.section-user {

	h1 {margin-bottom: .5em;}
	
	ul.tabs--primary {
		border-bottom: 1px solid $ltvGreen;
		margin-bottom: 0;
		li {
			margin-right:2px; 
			@include breakpoint($tablet-min) {
				margin-right:1em;
			}

			a {
			background-color: $ltvYellow;
			border-top-left-radius:6px;
			border-top-right-radius:6px;  
			}
			&:nth-child(5) {
				clear:left;
				@include breakpoint($tablet-min){
					clear:none;
				}
			}; 
		}

		li.active {
			padding:.3em .3em;
			@include breakpoint($tablet-min){
				padding:.3em .8em; 
			}
			@include breakpoint($desktop){
				padding:0; 
			}
			a.active {
				background-color:$ltvOrange;
				border-top-left-radius:6px;
				border-top-right-radius:6px;  
				font-weight:bold;
			}    
		}
	}

	

	article.user-profile,  .view-commerce-backoffice-user-orders, #commerce-addressbook-billing-default, #commerce-addressbook-shipping-default {
		@include account-pages-bg;  
		
		header h2 {
			font-family: $arial;	
			text-transform:none;
			color:$drkBlueTxt; 
			font-size: 1.25em;
		} 
		
		section:not(:first-child) {
			margin-top:20px;
		}
		div.user-profile-item div {
			display:inline; 
		}
	}

	form.user-profile-form {
		@include account-pages-bg;
		
		.description {
			width:80%;
			margin-top: 10px;
		}
		
		input#edit-mail {
			width:100%;
			@include breakpoint($tablet-min){
				width:450px;
			}
		} 
		input#edit-current-pass, input.password-field, input.password-confirm {
			width:100%;
			@include breakpoint($tablet-min) {
				width:30%; 
			}
		}
		.password-suggestions {
			color:#cc0000;
			border:2px solid red;
			@include gen-purpose-border-radius;
		} 
		.password-strength {
			float:none;
			clear:both;
			margin-bottom: 15px;
			@include breakpoint($desktop){
				float:right;
				margin-right:35%;
				margin-top: 0;
			}
			@include breakpoint($tablet-landscape){
				float:right;
				margin-right:25%;
				margin-top: 0;
			}
			@include breakpoint($tablet-portrait){
				float:right;
				margin-right:0;
				margin-top: 0;
			}
			.password-strength-text {
				color: $ltvOrange;
			} 
		}
	} 	 
input[type="submit"] {
	@include add-to-cart-basic;
	font-size:2em; 
	padding-left: 1em; 
	padding-right: 1em; 
	}

	ul.tabs--secondary  {
		@include account-pages-bg-less-pad;
		li {
			a {
				@include gen-purpose-border-radius; 
				background-color: $ltvYellow;
			}
			a.active {
				background-color: $ltvOrange;	
			} 
			
		}
	}
	ul.action-links {
		@include account-pages-bg-less-pad; 
		a::after {
			 content:' +';
		};
		a {
			border:1px solid $ltvGreen;
			padding:2px 4px;
		}   

	}


} /*END BODY.SECTIONS */

body.page-user-orders {
	.view-commerce-backoffice-user-orders {
	.view-empty {
		color:$drkBlueTxt;
		font-size:1em;
		}
	}		
	td {
		padding:4px 2px;
	}
	.field {
		margin-bottom: 20px;
	}
	table.views-table {
		font-size:12px;
		@include breakpoint($tablet-min){font-size:16px} 
		width:100%;
		margin-bottom:20px; 
		@include breakpoint($tablet-landscape-min){width:80%;} 
		
		td {
			padding:4px 2px;  
		}
		td.views-field-commerce-order-total {

		}
	}


}
 
body.page-user-addressbook {
	
	.view-commerce-addressbook-defaults {
		.name-block {
				font-weight: bold;
			}
		a {
			color:$ltvOrange;
			&:hover {
				@include text-hover;
			}; 
		}
	} 
	
}

body.page-user-my-files {
	
.view-content {
	background-color: rgba(237, 242, 244, 0.5);
	padding-top: 10px;
	}
	.views-table {
		width:80%;
		margin-bottom: 25px;
		caption {
			font-weight: bold;
			font-size: 1.2em;
		}
		th {
			background-color: $ltvGreen;  
		}
		td {
			padding:5px 0 1px 2px;
		}  

	}

	.mnmedia-files-message {
		display: block;
	    color: #125381;
    	margin-top: 10px;
    }
}
