body.section-books {

	.l-content {
		padding-top: 0;
	}

	@include ds-two-column-product-display;
/*	
	.ds-2col-stacked > .group-left {
	  @include grid-span(6,1); 
	  margin-left:0; 
	}
	.ds-2col-stacked > .group-right {
	  @include grid-span(10,7); 
	}
*/
.book-cover img{
	@include album-cover-drop-shadow;
}
h1, h2 {
	@extend %headline;
}
.group-right { 
	h1.book-title {
		@include text-shadow;
		font-size: 2em; /* mobile only */ 
		@include breakpoint($tablet-portrait){font-size:3em}
		@include breakpoint($tablet-landscape-min){font-size:3.5em;margin-bottom:0} 
	}

h2.book-author {
	font-size:1.5em;
	@include breakpoint($tablet-portrait){}
	@include breakpoint($tablet-landscape-min){font-size:2.8em} 
	
	@include text-shadow;
}
h1, h2, .field-name-commerce-price, input[type="submit"] {
	margin-bottom:7px;
}

.field-name-commerce-price {
	td.webprice-title {display:none;}
	td.webprice-total {color:$drkBlueTxt;font-size:1em}
	
	}

.form-item-quantity{
	display:none;
	@include breakpoint($tablet-landscape-min) {
		display:block;
		label {
			font-size:.75em;
		}
	}
}

input[type="submit"] {
	@include add-to-cart-basic;
	font-size:1em;
	&:hover {
		@include add-cart-bg-hover;
	}
	
	@include breakpoint($tablet-landscape-min) {
		font-size:1.4em;
		margin-bottom:10px;
	}
}
.book-description {
	width:90%;
	margin-bottom: 10px;
}
.field-name-field-publisher {
	font-size:1em;
	margin-bottom: 3px;
	.label-inline {display:inline;font-weight:bold;}

}

.field-name-field-isbn-number, .field-name-field-isbn-13  {
	font-size:.75em;
	.label-inline {display:inline;font-weight:bold;}

}
.field-name-field-release-date {
	clear:left;
	font-size:.75em;
	.label-inline {display:inline;font-weight:bold;}

}
}
} /* END body.section books */



