body.section-browse-albums-mobile {
	
	.l-main {
		/* background:url('/sites/default/files/bg-browse-albums-ref.jpg') no-repeat 0 24px; */
	}

	.l-content {
	 position:relative;
	 padding-bottom:7px;
	 padding-top:50px; /* make room for social icons */ 
	}
	
	#search-block-form {
		display:none; /* TEMP, WHERE IS THIS COMING FROM? */
	}
	h1 {
		@extend %headline;
		text-align:center !important;
	}
		
	.view-browse-albums-mobile {
		padding-top:10px;
		color:$drkBlueTxt;
		font-weight:900;
		font-family:$mainNav;
	}	 
	.view-filters {
			
		.views-exposed-widgets {
			position: relative;

			.views-exposed-widget {float:left;padding:0 10px 0 0;width:33%;

				.views-widget {width: 100%}
				} /*view.css override*/ 

			label {
				color:$blueGreen !important;
				font-size:1.5em;  
				font-family: $bebasNeue !important;
				text-transform: uppercase;
				font-weight:100;
				padding-left:3px;
				}
			
			select.form-select {
				width:100%;
				border:1px solid $ltvGreen;
				border-radius:1px;
				height:30px;
				}
			.views-submit-button {
					position: absolute;
					right:0;
					bottom:0; 
				input { 
					background-color:$ltvGreen;
					border:none;
					color:#fff;
					width:100%;
					height:30px;
					font-size:1.5em; 
					&:hover{@include add-cart-bg-hover}
				}
			.form-submit {margin-top: 0} /*view.css override*/		

			}
		} /* END EXPOSED WIDGETS */		
	} /*END VIEW FILTERS */	


	.view-content { /* put after filters */
		padding-top:25px;
	 	}
	 .views-row {
	 	clear:both;
	 	width:100%;
	 	text-align:center;
	 	margin-bottom:30px;  
	 
	 .album-cover-main, .field--name-field-images { /*NOTE:Dsuit not being used here?! */
			width:75%;
			border:0px solid red;
			position:relative;
			margin:0 auto 20px auto; 
			img {
				/* margin:0 auto; */
				position:relative;
				display:block;
				
				@include album-cover-drop-shadow;
				width:100%;
				}
			}
	h2.album-title {
		font-family: $arial;
		text-transform: none; 
		font-size:2.25em;
		margin:0px 0 10px 0; 
	}

	a:hover h2.album-title {@include text-hover;}
	
	h1.album-display-artist, h1.ltv-artist, .field-name-commerce-price {
		font-family: $arial;
		text-transform: none; 
		font-size:1.5em;
		margin:0px 0 10px 0;
		}	 	

	.field--name-title-field {
			font-size:1.2em;
		}

	input[type='submit'] {
			background-color:$addCartYellow;
			border:0px solid red !important;
			font-family:$bebasNeue;
			color:#fff;
			/* padding:10px 40px; */
			text-transform:uppercase;
			width: 55%;
		  font-size: 1.5em;
		  padding: 10px 0;
		  margin: 10px auto;
		  	&:hover{@include add-cart-bg-hover}
		}
	}
	table.views-view-grid {
			width:100%;
		td {
			padding-bottom:3em;
			width:25%;
			vertical-align:top;
			padding-top: none;
		
		
			
			h2.album-title {
				color:$drkBlueTxt;
				text-align:left;
				@include breakpoint($desktop){font-size:1.4em;}
				@include breakpoint($tablet-landscape){font-size:1.35em;}
				@include breakpoint($tablet-portrait){font-size:1.25em;}
				margin-bottom:10px;
				}
			a:hover h2.album-title {@include text-hover;}
			


			input[type='submit'] {
				background-color:$addCartYellow;
				border:0px solid red !important;
				font-family:$bebasNeue;
				color:#fff;
				/* padding:10px 40px; */
				text-transform:uppercase;
				margin-bottom:10px;
				@include breakpoint($desktop){font-size:1.4em;}
				@include breakpoint($tablet-landscape){font-size:1.3em;}
				@include breakpoint($tablet-portrait){font-size:1.2em;}
				width:75%;
				@include breakpoint($desktop){height:40px;}
				@include breakpoint($tablet-landscape){height:30px;}
				@include breakpoint($tablet-portrait){height:25px;}
				&:hover{@include add-cart-bg-hover}
			}
			.field-name-commerce-price, div span, div a {
				@include breakpoint($desktop){font-size:1.2em}
				@include breakpoint($tablet-landscape){font-size:1em;}
				@include breakpoint($tablet-portrait){font-size:.9em}
			}
		}
	} /* END TABLE */
	div.field {
		display:block;
		margin-bottom:4px;
	}
	
	a {
		color:$drkBlueTxt;

		&:hover {
			@include text-hover;
		}
		
	}
/* .super-footer {display:none;} */
	
	
}