body.section-cart {

	.l-content {
		padding-top:0px;
		@include padding-top-mobile-no-social;
		@include breakpoint($tablet-min){
			padding-top: 0;
			
		} 
	}
	.block--block-11 {
		color:#00a5b0;
    	font-family: $bebasNeue;
		position:absolute;
		right:1.5%; 
		top:5px;
		font-size:1.5em;   
		@include breakpoint($tablet-landscape-min){display:none;}
	} 
	 
	table.views-table {

		@include all-purpose-bg-shadow;  
		border:0px solid $ltvGreen;
		/* border-radius: 6px; DOESNT work */
		width:100%;
		@include breakpoint($tablet-landscape-min){
			width:50%;  
		}
		thead {
			/*border-bottom:1px solid #82b182; */
			border-bottom:1px solid #ababab; 
		} 
		th {
			font-size: 11px;
			padding:5px 4px 4px 4px; 	
			background-color:$ltvGreen;
		}  
		th.views-field-line-item-title-1 {
			text-align: left;
		}
		th.views-field-commerce-total {
			text-align: right;
		}

		font-size:14px; 
		td {
			padding:5px 4px;
		}    
		td.views-field-edit-quantity, input#edit-edit-quantity-1 {
			text-align:center; 
		} 
		td.price {
			text-align:right;
		} 
		input.delete-line-item {
			padding-top: 2px;
		}
		input#edit-edit-quantity-1 {
			height:18px;

		} 
		input[type="submit"] {
			@include add-to-cart-basic; 
		}
		th.views-field-nothing, td.views-field-nothing {
			display:none; /* THIS is the SKU thing */ 
		}
	}
		
	table.commerce-price-formatted-components {
		
		width:50%; /* MOBLE*/
		margin:10px 0 0 50%;

		@include breakpoint($tablet-min){
			width:34%;  
			margin:10px 0 0 66%;
		}

		@include all-purpose-bg-shadow; 
		td {
			padding:3px 4px;
		}
		td.component-total {
			//background-color:$ltvGreen;
		}
	}

	.commerce-line-item-actions {
	
	input[type="submit"] {
			background-color: $ltvYellow; 
			border:none;
			margin-left: 3px;
			color:#fff;
			@include all-purpose-bg-shadow;  
			&:hover {
				@include add-cart-bg-hover; 
			};
		@include breakpoint($small-touch-max){
			min-height: 27px;
			margin-top: 10px;
			}

		}

	}






}