body.section-contact {
	.l-main {
		padding:0 1%;
	}
	@include breakpoint($tablet-min) {
		padding:0;
	}
}

.ctools-modal-content {
	input[type="text"], textarea {
		
		width:100%;
		padding:3px;
		
	}
	input[type="text"] {
		@include breakpoint($desktop){
			width:33%;
		}
	}

	input[type="submit"] {
		@include add-to-cart-basic;
		
		font-size: 1.5em;
		padding-top: 6px;
		padding-bottom: 6px;
	}
	textarea {
		border:1px solid $ltvGreen;
		}

} 

