body.section-dvds {
	
	h1 {
		text-align:center;
		font-size:3em;
		@include breakpoint($tablet-min){
			text-align: left;
			@include headline-default; 
		}
	}

	.view-content {
		@extend %global-l_main-padding-top;

	}

	.view-content ul {
		padding-left:10px;
		padding-right: 10px;
		@include breakpoint($tablet-min) {
			padding-left: 40px;
			padding-right: 0
		}
	}

	ul li.views-row {

		float:left;
		
		@include breakpoint($small-touch-max){
			width:50%;
			padding-bottom: 30px;
			&:nth-child(2n+3){
				clear:left;
				
			};
		}	
		@include breakpoint($tablet-min) {
			width:33%;
			float:left;
			padding-right:3%;
			margin-bottom: 15px;
			
			&:nth-child(3n+4) {
				clear:left;
			};
		}

		h2.dvd-title-teaser {
			font-size:1.5em;
			color:$drkBlueTxt;
			margin-bottom: 10px;
		}	
		.dvd-cover-wrapper-teaser {
			width:149px;
			
			padding-bottom:1.75%;
		}
		img {
			width:90%;
			background-image:url('/sites/all/themes/lovetribevibes/images/album-drop-shadow.png');
			background-position:0 100%; 
			background-repeat: no-repeat;
			background-size: 90% auto;
			padding-bottom: 3.5%;
			@include breakpoint($tablet-min){
				width:100%;
				background-size: 100% auto;
				padding-bottom: 4%;
			}

		}
		.dvd-price-teaser {
			font-weight: bold;
			color:$ltvGreen;
			display: block;
			margin-bottom: 5px;
		}
		input[type="submit"] {
			@include add-to-cart-basic;
			padding-top: 6px;
			padding-bottom: 6px;
			&:hover {
				@include add-cart-bg-hover;
			}
			font-size:1em;
			margin-bottom: 5px;

			/*
			@include breakpoint($tablet-min) {
				padding-top: 5px;
				padding-bottom: 5px;
			} */ 

			@include breakpoint($tablet-landscape-min) {
			font-size:1.4em;
			margin-bottom:10px;
			}
		}

		p.dvd-description-teaser {
			padding-right:17px; 
			text-align: justify;
    		font-size: .85em;
		}
		nav.node-links {
			margin-top: 10px;
			font-weight:bold;
			
			ul.node__links {
				padding-left:0;
			}	
			li.comment_forbidden, li.comment-add {
				display: none;
			}
		}
	}

} 