body.section-featured, body.section-most-popular, body.section-latest {

	.l-main {
		/* background:url('/sites/default/files/bg-browse-albums-ref.jpg') no-repeat 0 24px; */
	}

	.l-content {
	 position:relative;
	 padding-bottom:7px;
	}
	
	#search-block-form {
		display:none; /* TEMP, WHERE IS THIS COMING FROM? */
	}
	h1 {
		@extend %headline;
	}
		
	.view-browse-albums {
		@include breakpoint($desktop){padding-left:6%;}
		@include breakpoint($tablet-landscape){padding-left:6%;}
		@include breakpoint($tablet-portrait){padding:0 2%;}
		color:$drkBlueTxt;
		font-weight:900;
		font-family:$mainNav;
	}	 

	.view-content { /* put after filters */
		padding-top:45px;
	 	}

	.field--name-title-field {
			font-size:1.2em;
		}

	table.views-view-grid {
			width:100%;
		td {
			padding-bottom:3em;
			width:25%;
			vertical-align:top;
			padding-top: none;
		
		.album-cover-main, .field--name-field-images { /*NOTE:Dsuit not being used here?! */
			width:75%;
			border:0px solid red;
			position:relative;
			/* check mobile first */
			/*
			background-image:url('/sites/all/themes/lovetribevibes/images/album-drop-shadow.png');
			background-position:0 100%; 
			background-repeat: no-repeat;
			background-size: 100% auto;
			*/
			/* ********************************/
			img {
				/* margin:0 auto; */
				position:relative;
				display:block;
				margin-bottom:10px;
				//@include album-cover-drop-shadow;
				width:100%;
				background-image:url('/sites/all/themes/lovetribevibes/images/album-drop-shadow.png');
				background-position:0 100%; 
				background-repeat: no-repeat;
				background-size: 100% auto;
				padding-bottom: 5%; 
				}
			}
			
			h2.album-title {
				color:$drkBlueTxt;
				text-align:left;
				@include breakpoint($desktop){font-size:1.4em;}
				@include breakpoint($tablet-landscape){font-size:1.35em;}
				@include breakpoint($tablet-portrait){font-size:1.25em;}
				margin-bottom:10px;
				}
			a:hover h2.album-title {@include text-hover;}
			
			h1.album-display-artist, h1.ltv-artist {
				font-family: $arial;
				text-transform: none; 
				@include breakpoint($desktop){font-size:1em;margin:0px 0 10px 0;}
				@include breakpoint($tablet-landscape){font-size:.9em;margin:0px 0 6px 0;}
				@include breakpoint($tablet-portrait){font-size:.8em;margin:0px 0 4px 0;}
				}

			input[type='submit'] {
				background-color:$addCartYellow;
				border:0px solid red !important;
				font-family:$bebasNeue;
				color:#fff;
				/* padding:10px 40px; */
				text-transform:uppercase;
				margin-bottom:10px;
				@include breakpoint($desktop){font-size:1.4em;}
				@include breakpoint($tablet-landscape){font-size:1.3em;}
				@include breakpoint($tablet-portrait){font-size:1.2em;}
				width:75%;
				@include breakpoint($desktop){height:40px;}
				@include breakpoint($tablet-landscape){height:30px;}
				@include breakpoint($tablet-portrait){height:25px;}
				&:hover{@include add-cart-bg-hover}
			}
			.field-name-commerce-price, div span, div a {
				@include breakpoint($desktop){font-size:1.2em}
				@include breakpoint($tablet-landscape){font-size:1em;}
				@include breakpoint($tablet-portrait){font-size:.9em}
			}
 
		}

		td div span,  span.browse-genre-tags a { /* tags container, */
				font-size: 14px;
		}
	} /* END TABLE */
	div.field {
		display:block;
		margin-bottom:4px;
	}
	
	a {
		color:$drkBlueTxt;

		&:hover {
			@include text-hover;
		}
		
	}
/* .super-footer {display:none;} */
	
	
}