body.front {
  
	.pane-homepage-playa-panel-pane-1 {
		// display:none;
	} 

	.l-page {
		@include clearfix;
		background-image: url('/sites/default/files/bg-ana-homepage.png');
		background-repeat: no-repeat;
		background-position: -160px 126px; 
		background-size:auto; 
		
		/*background:url('/sites/default/files/bg-ana-homepage.png') no-repeat -160px 130px; MAKES SPACE FOR SOCIAL I'S */ 
		/*
		@include breakpoint($tablet-min) {
			background-position:0 91px;
			background-size: auto;

		}

	*/	
		@include breakpoint($touch-landscape-max) {
			/* height:3250px; */ /* ************************************************/
		}   
		@include breakpoint($tablet-portrait) {
			background-position:-180px 55px;
			background-size:auto;
			/* height:3250px; */
		}
		@include breakpoint($tablet-landscape) {
			background-position:-180px 78px;
			height:1900px;
		} 

		@include breakpoint($desktop) {
			/* background:url('/sites/default/files/bg-ana-homepage.png') no-repeat 0 91px; */
			background-position:0 91px;
			height:1900px; /* FIXXXXXX  ************************************************/ 
		}

		.l-main {
			padding-top:0; /* MOBILE ONLY?!? */
		}
		.l-content {
			padding-top:0; /* MOBILE ONLY?!? */	
		}

		.block--block-15 {
			position: absolute;
			width: 440px;
		    left: 350px;
		    top: 60px;
		}

		.panels-flexible-1 {
			position:relative;
			top:1020px;
			@include breakpoint($tablet-portrait) {
				top:550px;
			}
			@include breakpoint($tablet-landscape-min) {
				top:550px;
			}

			background-color: #fff;
			border-top:55px solid $ltvYellow;
			border-bottom:2px solid $ltvYellow;
			border-left:2px solid $ltvYellow;
			border-right:2px solid $ltvYellow;
			border-top-left-radius:10px;
			border-top-right-radius:10px;
			@include all-purpose-bg-shadow; 
			width:100%;

			height:2700px; /* this determines page height */
			@include breakpoint($tablet-portrait){
				height:850px;
			}
			@include breakpoint($tablet-landscape){
				height:800px;
			}
			@include breakpoint($desktop){
				height:800px;
			}

			.panels-flexible-region {
				width:100%;
				padding-top:20px; 
			} 
			
			.pane-albums-for-homepage-footer-promo {
				clear:both;
				
				h2{
					position:absolute;
					top:-44px;
					left:0;
					right:0;
					text-align:center;
					background: none;
					text-transform: uppercase;
					margin-top:0;
					color:#fff;
					padding-right:0px; 
					margin-right: 0;
					font-size:2.5em;
					letter-spacing:2px;
					text-shadow:2px 1px 2px rgba(50, 50, 50, 0.6);
					@include breakpoint($tablet-portrait){
						left:50px; 
						text-align:left;
						}
					@include breakpoint($tablet-landscape){
						left:25px;
						text-align:left;
						}
					@include breakpoint($desktop){
						left:115px;
						text-align:left;
						}
				}
			} /* END PANE ALBUM FOOTER PROMO */

			
		.pane-webform-client-block-487 {
			background-color: #fff;
			position:relative;
			border:2px solid $ltvOrange;
					border-radius:8px;
					height:50px;
			top: -142px;

			@include breakpoint($tablet-portrait ){top: -150px;}
			@include breakpoint($tablet-landscape-min){top: -133px;}
			
			width:95%;
			margin:0 auto;
			padding:0px 0px;
			overflow:hidden;
			h2.pane-title {display:none;} 
			form {padding:0;margin:0;}
			label {display:none;}
			.form-item, .form-actions {padding:0;margin:0;}
			z-index:10;
			input.join-us-homepage-footer {
				border:none;
				height:36px;
				/* color:#ddd; */ 
				padding-left:30px;width:50%;float:left;
				position: relative;
				top:5px;
				left:5px;
				
			}
			input.webform-submit {
				background-color:$ltvOrange;
				border:none;
				color:#fff;
				float:right;
				text-transform:uppercase;
				font-size:1.5em;
				font-family:$oswald;
				height:50px;
				width:40%;
					&:hover { @include add-cart-bg-hover;}
				}
			@include breakpoint($desktop){
				position: absolute;
				top: -47px;
				left: 490px;
				width: 430px;
				height: 42px;
				form {
					width:430px;
					height:38px;
					position:relative;
					.webform-component-email {width:60%;float:left;}
					input.join-us-homepage-footer {width:100%;top:0;left:0;} 
					input.webform-submit {height:40px;}
					}
				}	
			@include breakpoint($tablet-landscape){
				position: absolute;
				top: -47px;
				/*left: 490px; */
				right:2%;
				width: 430px;
				height: 42px;
				form {
					width:430px;
					height:38px;
					position:relative;
					.webform-component-email {width:60%;float:left;}
					input.join-us-homepage-footer {width:100%;top:0;left:0;} 
					input.webform-submit {height:40px;}
					}
				}		
			} /* END WEBFORM CLIENT BLOCK */

		.pane-menu-menu-homepage-footer-promo {
			@include breakpoint($touch-landscape-max){
				display:none;
			}
			padding-top: 12px;
			padding-left: 75px;
			li {float:left;font-weight:bold;font-size:1.2em;margin-right:45px;
				a {
					color:$blueGreen;
					@include text-hover-ease-in;
				}
				a:hover {
					color:$ltvOrange;
					text-decoration: underline;
					}
				}
			}

		.view-albums-for-homepage-footer-promo { 
			display:none;
			
			@include breakpoint($tablet-min) {
				display:block;
			}
			.view-content {
				height: 1100px; /* **********************************/
			  /* background-color: #ffcccc; */
				  margin: 0 auto;
				  position: relative;
				  width: 90%;
				  @include breakpoint($tablet-portrait){
				  	top:-50px;
				  	height:1650px;
				  }
				} 

			table.views-view-grid {
				tbody {vertical-align:top}
				width:700px;
				@include breakpoint($tablet-min){
					width:100%;
				}
				width:700px;
				@include breakpoint($desktop){
					width:700px;
				}
				margin:0 auto;
				border-spacing:20px;
				border-collapse: separate;
				position:relative;
				left:7px; /*HACK! */
				@include breakpoint($tablet-min){
					left:0;
				}
				tr {padding:0;}
				td { 
					div {
						width:100%;
						
					}
					 
					width:22.8571%;
					margin:0;
					padding:0 0 7px 0;
					border:1px solid #ccc;
					@include all-purpose-bg-shadow;
					::after {display:none;}
					
					.album-cover-main img {
						width:100%;
						/*width:160px; */
						margin:0;
					}
					h3.teaser-album-title, .node--ltv-album-ii--teaser h3 {
						text-align:center; 
						font-family: $pt-sans;
						font-size:1em;
						margin:2px 0 5px 0; 
						a {
						color:$drkBlueTxt;
						}
					}
					h3.teaser-artist-name, .field-name-commerce-price {
						text-align:center;
						font-family: $pt-sans;
						font-size:.85em;
						color:$drkBlueTxt;
						margin:0 0 5px 0; 
						font-weighT:normal;
					}
					.teaser-album-add-cart {
						position:relative;
					form { 
						input {
							background-color:$ltvYellow;
							display:block;
							border:none;
							text-transform:uppercase;
							color:#fff;
							font-size:.75em; 
							font-weight:bold;
							padding:3px 0;
							width:85px;
							margin:0 auto;
							position:relative;
						}
						input:hover { @include add-cart-bg-hover;}
							}
						}
					.teaser-more-info {
						width:100%; display:block;text-align:center;margin-top:5px; a {
							color:$drkBlueTxt;font-size:.75em;
						} 
						a:hover {text-decoration: underline}
							} 
						}
					}
				}

		.pane-albums-for-homepage-footer-promo-mobile {
		
			.pane-title {display:none;} 

			.view-albums-for-homepage-footer-promo-mobile {  
			@include clearfix;
				@include breakpoint($tablet-min){display:none;}
			
					.view-content {
						padding:0 2%;
						@include clearfix; 
						@include breakpoint($touch-landscape-max){
							height:2200px; /* HACK, should flow ****************************************/
						}
					.views-row {
						width:50%;
						float:left;
						&:nth-child(2n+3) {
							clear:left;
						};
						.node {
							color:$drkBlueTxt;
							border:1px solid #ccc;
							width:80%;
							margin:0 auto 20px auto;
							padding-bottom: 20px; 
							.album-cover-main {
								width:100%;
								a {width:100%;
									color:$drkBlueTxt;
									img {width:100%;}
								} 
							}
							h3, .teaser-album-add-cart, .field-name-commerce-price {
								margin:5px 0 0 12px;
							}
							h3.teaser-album-title {
								text-transform:capitalize !important;
							}
							h3 {
								color:$drkBlueTxt !important;
								text-transform:capitalize !important;
								a { color:$drkBlueTxt !important;}
								a:hover {
									@include text-hover;
								}
							}	
							input[type="submit"] {
								@include add-to-cart-basic; 
							}
							span {display:none;}
							}
						}
					}				
				} /* END view-albums-for-hompeage-footer-promo-mobile */
			} /* END view-albums-for-hompeage-footer-promo-mobile */




		} /*PANELS FLX 1 */
	} /* END L.PAGE */ 
} /* END BODY FRONT */ 