body.section-mission {

font-family:'Trebuchet MS';

.l-page {
	/* @include breakpoint($touch-landscape-max){height:2050px;} */ 
	
}
.l-main {
	/*background:url('/sites/default/files/bg-ref-mission.jpg') no-repeat */
}

h1 {
	text-align: center;
	@extend %headline; 
	font-size:3em;
	line-height: 1.1;
	@include breakpoint($tablet-min){
		line-height: 1.4;
	}
}
.l-content { 
	
	@include breakpoint($tablet-min){
		padding:0;
	}
	p {
  text-align: center;
  width: 100%;
  margin: 30px auto;
  font-size: 1.25em;
	}
}	

/*
#mission-statement {
	border:0px solid red;
	margin:0 auto;
	width:86%;
	border-collapse: separate;
    border-spacing:10px;
	@include respond-to(desktop) {
		height:530px;	
		}
	td {
		width:33%;
		text-align: center;
		

		@include respond-to(desktop) {
			height:170px;	
		}
		span {
			width: 82%;
			display: block;
			margin: 0 auto;
			font-size:1.2em;
			color:#fff;
		}

	}
} */
/*TD BACKGROUND IMAGES */

.field-name-body {
	width:85%;
	margin:0 auto;
	@include breakpoint($tablet-portrait) {
		width:92%;
	}
}

ul#mission-statement { 	/* GLOBAL SETTINGS */
	@include clearfix;
	list-style-type: none;
	width: 100%;
	margin:0 auto;
	padding:0;
		li {
			display:block;
			width:90%;
			margin:5px auto; 
			@include breakpoint($tablet-min) {
				margin:4px;
			}

			@include breakpoint($tablet-min) {
			float:left;
			width:32.2%; /*HACK */
			} 

			
			@include breakpoint($tablet-portrait){
				margin:2px;
				}
			height:165px;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-position: center; 
			line-height: 1.3;
			text-align: center;
			display: table;
			
				span {
				width: 82%;
				display:table-cell;
				vertical-align:middle;
				font-size:1.35em;
				@include breakpoint($tablet-min) {
					font-size:1em;  
				}

				color:#fff;
				text-align:center;
				padding:0 15%;
				@include breakpoint($tablet-portrait){
					padding:0 5%;
				}

				}
			}

	li.one {
		background-image:url('/sites/all/themes/lovetribevibes/images/mission_1.png')
	}
	li.two {
		background-image:url('/sites/all/themes/lovetribevibes/images/mission_2.png')
	}
	li.three {
		background-image:url('/sites/all/themes/lovetribevibes/images/mission_3.png')
	}
	li.four {
		background-image:url('/sites/all/themes/lovetribevibes/images/mission_4.png')
	}
	li.five {
		background-image:url('/sites/all/themes/lovetribevibes/images/mission_5.png')
	} 
	li.six {
		background-image:url('/sites/all/themes/lovetribevibes/images/mission_6.png')
	}
	li.seven {
		background-image:url('/sites/all/themes/lovetribevibes/images/mission_7.png')
	}
	li.eight {
		background-image:url('/sites/all/themes/lovetribevibes/images/mission_8.png')
	}
	li.nine {
		background-image:url('/sites/all/themes/lovetribevibes/images/mission_9.png')
	} 
	li:nth-child(3n+4){clear:left};
}



}

/*image ratio 
w = 257
h = 174 
ratio is .67704280155642 

257 / 174 = 1.47701149425287

174 / 257 = .67704280155642 

1 / .67704280155642 = 1.47701149425287

1:1.47701149425287;

How can i do the following the with these 2 numbers?
257 / 174
express the first number as 100% and then find the value of the second num?


*/









