/* THIS IS A FIX */
body.section-mn-media-artist {
.l-content { 
		height:1820px; 

		@include breakpoint($desktop){
			height:1100px;
		} 
		@include breakpoint($tablet-min){
			height:1060px;
		} 
	}
}	

body.section-mn-media-artist, body.section-mn-media-genre {
	
	.feed-icon {display:none;}

	

	div.album-cover-main img{ 
	
		@include product-custom-shadow;
		padding-bottom: 3.5%;

	}

	@include breakpoint($small-touch-max) {
		.views-row { 
			width:50%;
			margin-bottom:20px;
			min-height:330px;
			
			h3, .field {
				margin-bottom: 7px;
			}

			h3.teaser-album-title {
				font-size: 1em;
			}
			div.album-cover-main { 
				margin-bottom: 5px;
				width:90%;
			}

			input[type="submit"] {
				width:90%; 
				padding:7px 0;
				font-size: 1.25em;
			} 
			
		}
		.views-row:first-child {
			float:left;
		}

		.views-row:nth-child(2n+3){
			clear:left;
			float:left;
			border:0px solid green;
		};	 
		.views-row:nth-child(2n+2){
			float:right;
			border:0px solid red;
		};	 
	}

	@include breakpoint($tablet-landscape-min) {
		.views-row { 
			width:25%;
			margin-bottom:20px;
		}
		.views-row:nth-child(4n+5) {
			
			clear:left;
		}

		input[type="submit"] {
				width:160px; 
				padding:7px 0;
				font-size: 1.25em;
		}

		.teaser-more-info {
			font-size: .85em;
		}
		
	}

	@include breakpoint($tablet-portrait) {
		.views-row { 
			width:33%;
			margin-bottom:20px;
		}
		.views-row:nth-child(3n+4) {
			
			clear:left;
		}
		input[type="submit"] {
				width:160px;
				padding:7px 0;
				font-size: 1.25em;
		}

		.teaser-more-info {
			font-size: .85em;
		}
	 
	}	

.views-row {
	
	@include breakpoint($tablet-min) {
		display:inline;
		float:left;	
	}
	
	
	input[type="submit"] {
		@include add-to-cart-basic;
		}	
	
	.album-cover-main {

		img {
			@include product-custom-shadow;
			@include breakpoint($desktop){
				padding-bottom: 3%;
			}
		}
	}	

	.teaser-album-title a {
			font-size:1.25em; 
		} 
	
	.teaser-album-title, .teaser-artist-name, .field-name-commerce-price, .teaser-album-add-cart {
			margin-bottom: 5px; 
		}  

	}
	/*
	.views-row {
		
		@include breakpoint($desktop){
			width:25%;
			margin-bottom:20px;
		} 
		

	
		input[type="submit"] {
		@include add-to-cart-basic;
		}	

	}
	*/


	
	
} 