body.section-productmnmediaalbumdisplay {

.messages--status {
	
	@include breakpoint($tablet-min){
		width:75%;
	}
}

.group-header {
	@include clearfix;
	width:80%;
	margin:0 auto;
	@include breakpoint($tablet-min){
		padding:0;
		width:100%;
	}

	h1.album-display-artist, h1.album-display-title {
		@extend %headline;
		display:inline;
		font-size:38px;
		float:left;
		margin-bottom:10px;
		
		@include breakpoint($tablet-min){
			margin-bottom:23px;
		}

	}
	h1.album-display-artist {
		margin-left: 0px;
		@include breakpoint($tablet-portrait){margin-right:15px;}
		@include breakpoint($tablet-landscape){margin-right:30px;}
		@include breakpoint($desktop){margin-right: 60px;}
		}

	h1.album-display-artist:after {
		content:'\00a0 '; /* white space!*/
	} 
}
.album-cover-main {
	width:80%;
	margin:0 auto 20px auto;
	@include breakpoint($tablet-min){
		//@extend %lh-col-el-width;
		@include lh-col-el-width;
		clear:left; 
		margin-left:0;
	}
		img{ /*Main album cover */
		margin:0 auto; 
		display:block; 
		background-image:url('/sites/all/themes/lovetribevibes/images/album-drop-shadow.png');
		background-position:0 100%; 
		background-repeat: no-repeat;
		background-size: 100% auto;
		padding-bottom: 3.75%;
		}
}
.field-name-commerce-price { /* LAYOUT */
	width:100%;
	border:0px solid red; 
	clear:left;
	float:left; 
	text-align: center;
	color:$blueGreen;
	font-size:1.6em;
	margin-bottom:15px;
	@include breakpoint($tablet-min){@include lh-col-el-width;clear:left!important;}
	}

.field-name-field-product { /*CONTAINS ADD TO CART ALBUM ONLY!*/
			width:100%; 
			position: relative;
			clear:left;
			margin-bottom:20px; 
			@include breakpoint($tablet-min){@include lh-col-el-width;clear:both;}
			
			#edit-submit { /*Add to Cart, Album */
				clear:left;
				@include add-to-cart-basic;
				text-transform:uppercase;
				color:#fff;
				font-size:1.6em; 
				/* @include grid-span(4, 2); *//* NOT correct  */
				width:226px;
				/*margin-left:60px;  */
				margin:0 auto;
				position:relative;
				height:45px;
				border:0;
				display:block;
				}  
			#edit-submit:hover {
				 @include add-cart-bg-hover;
				}		
			}

.field-name-field-mn-dl-notice {
	font-size: .75em;
	@include lh-col-el-width; 
	clear:left; 
}
.field-name-field-genre {
	display:none; 
	margin-top: 10px;
	.label-inline {
		@extend %genre-label;
		}
	}

.field-name-tracks {
	/* display:none; */
		/* position:relative; */
		border:1px solid $ltvOrange;
		border-radius: 6px 6px 0 0;
		margin-right:0;
		@include grid-span(8, 1, 8);
		.label-above {
			@include listen-label-title;
			border-radius: 5px 5px 0 0; 
		}
	}
	.views-row {	
		border-bottom: 1px solid $ltvOrange;
		padding-top: 8px; 
		padding-left: 7px;
		@include breakpoint($tablet-min){
			padding-left: 15px;
		}
		position: relative;
		width:100%;		
		.node--product-mnmedia-track-display {
				position:relative;
				height:57px;
				width:100%;
				.track-thumb {
					display:none;

					@include breakpoint($tablet-min){
						display:block;
					}
					@include breakpoint($desktop){
						display:block;
						position: relative;
						top:2px;
					}

					width:45px !important;height:45px;
					
					img {
						 
					}
				margin-bottom:0;
				width:100%;
					}
			table.commerce-price-rrp-your-price { /*MN TRACK ONLY, THIS IS DRUPAL DEFAULT */
					border: 0px solid red;
					  width: 35px;
					  position: absolute;
					  right:15px;
					  top:0;
					  width:70px; /*SAME AS field-name-field-product */
					td.webprice-title {display:none;}
					td.webprice-total {
						color:$drkBlueTxt;
						font-weight:500;
						font-size:.925em;
						text-align:right;
						
						width:100%;
					}
				} /* END price table */		
			.field-name-field-mnetid { 
					position:absolute;
					left:0;
					@include breakpoint($tablet-min){
						left:100px;
					}
					top:0px; 
					width:60%; 
					color:$ltvOrange;
						.track-title {white-space: nowrap;
							font-size:14px;
							position:relative;
							left:33px;
							@include breakpoint($tablet-min){
								font-size: 16px;
								left:-5px;
							}

						} 
					}

			.field-name-field-product {
					/* width:70px; */
					border:0;
					position:absolute;
					padding: 0;
				  	right: 0px; 
				  	top: 25px; 
					/* NEEDED TO OVERRIDE ALBUM ADD-TO-CART */
					width: 70px;
  					float: NONE;
					margin-right: 0;
					margin-left: 0;
				table, tr, td {
					  	width:100%;
					  	text-align:center;
					  }		

				form.commerce-add-to-cart {
				  		position:absolute;
				  		right: 15px; 
				  		display:block;
				  		width:70px; /* needed so you can align price, need same measurement */	
				  		background-color: $ltvYellow;
				  		input[type="submit"] {
							@include add-to-cart-basic;
							border:0;
							text-transform:uppercase;
		 	 				color: #fff;
							font-size: .8em;
							padding: 4px 0px;
							width:100%;
							margin:0 auto;
							letter-spacing:.05em; 
							}
						
						input[type="submit"]:hover {
						@include add-cart-bg-hover;
							}	
					  	}
			} /* END field name field product */		
			div.mnmedia_sample  {
						position:absolute;
						left:0px;
						bottom:-30px; 
						@include breakpoint($tablet-min){
							left:-40px;
							bottom:-28px;
						}
						   
						background-color:#ccc;
						/* min-width:260px; */
						height:4px !important;
							.play_pause {
								left:0;
								top:-40px;
								@include breakpoint($tablet-min) {
									top:-42px;
								} 


								width:31px;
								height:32px; 
								border:0; 
							} 
							.player {height:3px;padding:0;
								object {position:absolute;top:0;left:0;} 
							}
						} /*END mnmedia_sample */	  	
			} /* END node--product-mnmedia-track-display */		
	
	} /* END VIEWS ROW */
} /* END BODY SECTION CONTAIN */

/*TEMP, FOR NOW HIDE ON WE SUGGEST ON iPhone version */
.block--views-album-display-footer-block {
	display:none;
	@include breakpoint($tablet-min){
		display:block;
	}
}

