body.page-checkout-paypal-ec {

	table.checkout-review { 
		width:100%;


		tr.pane-data, tr.pane-title {
			background:none;
		}	
		
		tr.pane-title td {
			padding-top:20px;
		}

		tr.pane-title:first-child td:first-child {
			padding-bottom:5px;
		}

		.pane-data-full div {
			padding:1px 0;
		}

	}

	#edit-commerce-license {
		display: none;  
	}

	input[type="submit"] {
		@include add-to-cart-basic;
	}

}