body.section-search-products {
	.l-page {
		min-height: 1200px;
	}

	.l-main {
		
	}

	.l-content {
		.views-exposed-widgets {
			position: relative;
			margin-bottom: 20px;
		}

		.views-exposed-widget.views-reset-button,  .views-exposed-widget.views-submit-button {
			position: absolute;
			bottom: 0;
			input[type="submit"] {
    			width:100px;
    		}

		}
		.views-exposed-widget.views-submit-button {
			left: 260px;
    		width: 100px;
    	}
    	.views-exposed-widget.views-reset-button {
			left: 370px;
    		width: 100px;
    	}

		.views-exposed-form .views-exposed-widget .form-submit {
	    margin-top: 0;
		}

		.views-row {
			width:25%;
			display:inline;
			float:left;
			font-size: 12px;
			margin-bottom: 20px;
			div {
				margin-bottom: 5px;
			}
		}

		.mnmedia_sample {
		    width: 90%; 
		    height: 20px;
		    position: relative;
		    background: #333;
		    .play_pause {
		    	height:19px;
		    	width:19px;
		    	right:0;
		    	background-size: 200%;
		    }
		}



		@include breakpoint($tablet-min){
			/* @include lh-col-el-width; */
			@include grid-span(9, 1, 12);	
			/*border:2px solid yellow; */
			clear:left; 
			margin-left:0;
		}
	}
	aside.l-region--sidebar-first {
		display:none;
	}
	aside.l-region--sidebar-second {
		/* border:1px solid red; */
		float:right;
		@include grid-span(3, 10, 12);	
		.block--facetapi {
			margin-bottom: 20px;
			ul {
				padding-left: 2em;
				font-size: 14px;
				li {
					margin-bottom: 5px;
				}
			}
		}

	} 
	input[type="submit"] {
		@include add-to-cart-basic
	}


}