


body.section-yoga-class-pass {

.l-main {
	/*
	@include add-grid(16);
	@include add-gutter(1/4);
	@include sgs-change('debug', true); 
	@include background-grid($color: blue); 
	*/	
		

/*	background:url('/sites/default/files/bg-class-pass-ref.png') no-repeat;  */
		
	.l-content {

		padding-top:15px;
		h1 {
			@extend %headline;
			text-align: center;
			font-size: 46px;
		}
		h2.yoga-class-pass-title {
			font-size:2.2em; /*26pixels*/
			text-align: center;
			margin-bottom:24px;
			font-weight: 400;
		}

		.panel-display {
			position:relative;
			top:-45px;
		}	
		.pane-yoga-class-pass-view-panel-pane-1 {
			padding-bottom: 20px;
		}
		table.views-view-grid {
			width:100%;
			td {
				width:33%;
				border:0px solid red;

			}
			td.col-1 { @include class-pass-color($yellowOrange) }
			td.col-2 { @include class-pass-color($ltvOrange) }
			td.col-3 { @include class-pass-color($blueGreen) }

		}
		.node--yoga-class-pass {

		}

		.yoga-class-pass-image {
			width:100%;
			position:relative;
			img{
				position:relative;
				margin:0 auto;
				display: block;
			}
		}
		.price {
			font-size:1.2em;
			text-align: center;
			margin-bottom:12px;
			font-weight:bold;
		}
		.ycp-add-to-cart {
			position:relative;
			div {
				position:relative;
				width:100%;
			
			input[type="submit"] {
				display:block;
			width:160px;
			text-transform: uppercase;
			margin:0 auto;
			position:relative;
			border:none;
				&:hover {
					@include add-cart-bg-hover;
				}
			}
		}
		}
	

	
	}

	
	tr.row-2 {
		display:none;
	}
}
	.pane-block-3 { /* BEWARE this will all have to be moved to footer block, */
		border-top: 2px solid $blueGreen;
		background-color: #fff;
		padding:36px 0 50px 0;

		h2.pane-title {
			text-align: center;
			font-family: $oswald;
			color:$ltvGreen;
			font-size:46px;
			line-height:1;
			-webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
	p {
		text-align:center;
		color:$blueGreen;
	}
	#free-trial-launch-btn {
		border:1px solid $ltvGreen;
		border-radius:3px;
		font-family: $oswald;
		color:$blueGreen;
		font-weight: 900;
		padding:15px 102px;
		margin:0 auto;
		background-color: #fff;
		&:hover {@include add-cart-bg-hover} 

	}
	}
	
}

/* YOGA CLASS PASS VIEW */
/*
.pane-1 p {
	width:75%;
}

.view-id-yoga_class_pass_view {
	table.views-view-grid {
		width:90%;
		margin:0 auto;
		td {
		width:33.3%;
			p {
				padding-right:20px;
			}
		}
	}
	

	.field--name-title-field {
		font-weight: bold;
		font-size:1.5em;
	}
}
.view-id-yoga_class_pass_view table.views-view-grid td.col-3, .view-id-yoga_class_pass_view table.views-view-grid td.col-last{padding-top:0; }
.view-id-yoga_class_pass_view table.views-view-grid td.col-3 article {position:relative;top:-8px;}
*/