a.menu-1053, ul.links li.menu-1053 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1053.png);
  padding-left:13px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

a.menu-1054, ul.links li.menu-1054 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1054.png);
  padding-left:39px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

a.menu-1055, ul.links li.menu-1055 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1055.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 8px;
}

