@mixin ds-two-column-product-display {

	.ds-2col-stacked > .group-left {
		  @include grid-span(6,1); 
		  margin-left:0; 
		}
		.ds-2col-stacked > .group-right {
		  @include grid-span(10,7); 
		}
}

/* GLOBAL */
@mixin ltv-text-shadow {text-shadow: 2px 1px 2px rgba(50, 50, 50, 0.6); }
 

/* MP3 PLAYERS  FOR BOTH HOMEPAGE, ALBUM PAGE */

@mixin listen-label-title {
	background-color: $ltvOrange;
	padding: 7px 0 7px 15px;
	
	/* height:48px; */
	color:#fff;
	font-size:2.2em;
	font-family:$bebasNeue;
	font-weight:300;
	text-transform:uppercase;
	letter-spacing: 1px;
	text-shadow: 2px 1px 2px rgba(50, 50, 50, 0.6);
}

@mixin player-border-radius {
	
  	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

@mixin player-views-row {
	border-bottom:1px solid $ltvOrange;

		padding-left:15px;padding-top:8px;padding-bottom:3px;
		padding-right:7px;
		position:relative;

		.mp3-thumb {
			display:inline;

		}
		.field-name-field-track-sample-rev {
			display: inline;
			.sm2-bar-ui {
				color:$ltvOrange; 
				font-weight: bold;
				width:68%;
				top:2px;
				@include breakpoint($tablet-portrait){width:80%;}
				@include breakpoint($tablet-landscape){width:70%;}
				@include breakpoint($desktop){width:73%;}
				
				min-width:1%;
				.sm2-playlist ul li {text-align: left} 
				.sm2-inline-time {display:none;}
				.sm2-volume-control {top:0px;}

				.sm2-inline-duration {
					@include breakpoint($touch-portrait-max){
						/* only way to hide txt on iPHones */
						color:#fff;
					}
					font-size: 9px;
				    top: -3px;
				    position: relative;
				    text-align: center;	

				    @include breakpoint($desktop){
				
					font-size: 10px;
				    top: -8px;
				    position: relative;
				    text-align: center;		
					}

				}
			} 
		}
		table.commerce-price-rrp-your-price {
				position: absolute;
				top:8px;
				right:7px;
				td.webprice-title {display: none}
				td.webprice-total {font-size:.85em;color:$drkBlueTxt;} 
				}

				input[type="submit"] {
					padding:3px 4px;
					position: absolute;
					bottom:12px;
					right:7px;
					font-size:.85em;
					@include add-to-cart-basic;
				} 
				/*
		.track-price {
			position: absolute;
			top:8px;
			right:7px;
			font-size:.85em; 
		} 
		input[type="submit"] {
			position: absolute;
			bottom:12px;
			right:7px;
			font-size:.85em;
			@include add-to-cart-basic;
		} */

		}

@mixin player-drop-shadow {
	-webkit-box-shadow:-1px 2px 6px 0px rgba(120, 120, 120, .5);
	-moz-box-shadow:-1px 2px 6px 0px rgba(120, 120, 120, .5);
	box-shadow:-1px 2px 6px 0px rgba(120, 120, 120, .5);
}


/* END PLAYER MIXINS */


@mixin album-cover-drop-shadow {
-webkit-box-shadow: 4px 5px 8px -2px rgba(0,0,0,0.46);
-moz-box-shadow: 4px 5px 8px -2px rgba(0,0,0,0.46);
box-shadow: 4px 5px 8px -2px rgba(0,0,0,0.46);

}

@mixin product-custom-shadow {
	display:block;
	background-image:url('/sites/all/themes/lovetribevibes/images/album-drop-shadow.png');
	background-position:0 100%; 
	background-repeat: no-repeat;
	background-size: 100% auto;
}

@mixin gen-purpose-border-radius {
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}


@mixin form-submit-hover($color) {
	background-color:$color;
	transition: background-color 0.3s;  
}
@mixin text-hover {
	color:$active;
	transition:color 0.3s;  	
}

@mixin text-hover-ease-in {
-webkit-transition-property:color, text;
-webkit-transition-duration: .2s, .2s;
-webkit-transition-timing-function: linear, ease-in;
-moz-transition-property:color, text;
-moz-transition-duration:.2s;
-moz-transition-timing-function: linear, ease-in;
}

@mixin all-purpose-bg-shadow {
	-webkit-box-shadow:-1px 2px 6px 0px rgba(120, 120, 120, .5);
	-moz-box-shadow:-1px 2px 6px 0px rgba(120, 120, 120, .5);
	box-shadow:-1px 2px 6px 0px rgba(120, 120, 120, .5);
}

@mixin cart-drop-shadow {
-webkit-box-shadow: -1px 0px 13px -2px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 13px -2px rgba(0,0,0,0.75);
box-shadow: -1px 0px 13px -2px rgba(0,0,0,0.75); 
}

@mixin drop-down-nav-bg-shadow {
	-webkit-box-shadow:-1px 4px 12px 0px rgba(120, 120, 120, .8);
	-moz-box-shadow:-1px 4px 12px 0px rgba(120, 120, 120, .8);
	box-shadow: -1px 4px 12px 0px rgba(120, 120, 120, 0.8);
}


@mixin text-hover-color($clr) {
	color:$clr;
	transistion:color 0.3s;
}


/*ADD TO CART STUFF */

@mixin add-to-cart-basic {
	background-color: $addCartYellow;
	color:#fff;
	display:block;
	text-transform: uppercase;
	border:none;
	&:hover {
		@include add-cart-bg-hover;
	}
}
@mixin add-cart-bg-hover {
	background-color:$active;
	transition: background-color 0.3s;  
}


/* SIZE FOR ALL ALBUM DISPLAY FOOTERS */

@mixin add-cart-album-display-footer {
	font-size: 1em;
	letter-spacing: .04em;
  font-weight: bold;
  padding: 3px 0;
  position: relative;
  margin:0 auto;
  display:block;
  width: 85px;
}

/* ALBUM DISPLAY FOOTER */
@mixin album-footer-artist($font-size) {
	text-align:center;
	width:100%;
	clear:both;
	color:$drkBlueTxt;
	font-weight:bold;
	font-size:$font-size;
	margin-bottom:10px;
	text-transform:capitalize !important;
} 
@mixin album-footer-title { 
	text-align: center;
	a {
		color:$drkBlueTxt;
		font-family: "PT Sans", Helvetica, Arial, sans-serif;
		font-size: 1em;
		margin: 2px 0;
		font-weight:bold;
		&:hover {
			@include text-hover;
			}
		}
	}
@mixin album-footer-price {
	width:100%;
	text-align:center;
	font-size:.85em;
	color:$drkBlueTxt;
}

/* HOMEPAGE FEATURED ALBUM FOOTER */
@mixin footer-promo-border-radius {
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

/* yoga class pass */
@mixin class-pass-color($clr) {
	color:$clr; 
	
	input[type="submit"] {
		background-color: $clr;
		color:#fff;
		&:hover {@include add-cart-bg-hover;}
		font-family:$oswald;
	}
}	

@mixin monitor-breakpoint-qs($content) {
	body::before {
	background-color: yellow;
	content:$content;
	width:100%;
	text-align:center;
	position: absolute;
	top:0;left:0;
	z-index: 100;
}
}
/* ACCOUNT PAGES */
@mixin account-pages-bg {
	background-color: rgba(237, 242, 244, .5);
	padding:20px 10px 40px 10px;
}
@mixin account-pages-bg-less-pad {
	background-color: rgba(237, 242, 244, .5);
	padding:10px 10px 
	} 