.mnmedia_sample {
	width: 100%;
	max-width: 300px;
	height: 30px;
	position: relative;
	background: #333;
}

.mnmedia_sample .player-wrapper {
	width: 100%;
	padding-right: 27px;
	float: left;
}
.mnmedia_sample .player {
	width: 100%;
	height: 30px;
	margin: 0;
}
.mnmedia_sample .play_pause{
	position: absolute;
	width: 28px !important;
	height: 28px !important;
	content: " ";
	background-image: url(buttons.png);
	background-repeat: no-repeat;
	background-position: left;
	right: -28px;
	border: 1px solid #fff;
	cursor: pointer;
}
.mnmedia_sample .play_pause.active {
	background-position: right;
}