/* line 1, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/toolkit-2.6.0/stylesheets/toolkit/_kickstart.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 11, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/toolkit-2.6.0/stylesheets/toolkit/_kickstart.scss */
img, video {
  max-width: 100%;
  height: auto; }

/* No files to import found in variables/**\/* */
/* No files to import found in abstractions/**\/* */
/* No files to import found in base/**\/* */
/* No files to import found in components/**\/* */
/* No files to import found in layout/**\/* */
/* BREAKPOINTI VARIABLES */
/* from AT Media Q's*/
/* from AT Media Q's*/
/*max width! */
/* CONTROL WHICH MENUS */
@media (min-width: 48.0625em) {
  /* line 33, ../sass/variables/_layout.scss */
  #main-nav-wrapper {
    display: block; }

  /* line 34, ../sass/variables/_layout.scss */
  #mobile-header {
    display: none; }

  /* line 35, ../sass/variables/_layout.scss */
  #mobile-nav {
    display: none; } }
@media (min-width: 0) and (max-width: 48em) {
  /* line 39, ../sass/variables/_layout.scss */
  #top-nav {
    display: none; }

  /* line 40, ../sass/variables/_layout.scss */
  #main-nav-wrapper {
    display: none; }

  /* line 41, ../sass/variables/_layout.scss */
  #mobile-header {
    display: block; } }
/* END CONTROL WHICH MENUS */
/* OTHER VARS */
/* Background img requires larger size than 1120 */
/* GLOBAL STUFF HERE */
/* line 59, ../sass/variables/_layout.scss */
ul.breadcrumb, h2.element-invisible {
  display: none; }

/* line 61, ../sass/variables/_layout.scss */
* {
  margin: 0; }

/* line 63, ../sass/variables/_layout.scss */
html, body {
  height: 100%; }

/* line 65, ../sass/variables/_layout.scss */
.l-page {
  width: 100%; }

/* line 71, ../sass/variables/_layout.scss */
.l-page {
  overflow-x: hidden;
  overflow-y: hidden; }

/* line 74, ../sass/variables/_layout.scss */
.l-main {
  overflow-x: visible;
  overflow-y: visible; }

/* line 80, ../sass/variables/_layout.scss */
.l-main {
  position: relative;
  /*Needed for Social Media icons */
  padding-top: 10px; }
  @media (min-width: 64.0625em) {
    /* line 80, ../sass/variables/_layout.scss */
    .l-main {
      padding-top: 24px; } }
  @media (min-width: 48.0625em) and (max-width: 64em) {
    /* line 80, ../sass/variables/_layout.scss */
    .l-main {
      padding-top: 20px; } }
  @media (min-width: 36.3125em) and (max-width: 48em) {
    /* line 80, ../sass/variables/_layout.scss */
    .l-main {
      padding-top: 16px; } }

/*END GLOBAL PAGE PADDING TOP */
/* line 99, ../sass/variables/_layout.scss */
.l-main {
  position: relative;
  /*Needed for Social Media icons */ }
  @media (min-width: 64.0625em) {
    /* line 99, ../sass/variables/_layout.scss */
    .l-main {
      padding-bottom: 24px; } }
  @media (min-width: 48.0625em) and (max-width: 64em) {
    /* line 99, ../sass/variables/_layout.scss */
    .l-main {
      padding-bottom: 20px; } }
  @media (min-width: 36.3125em) and (max-width: 48em) {
    /* line 99, ../sass/variables/_layout.scss */
    .l-main {
      padding-bottom: 16px; } }

/* GLOBAL PAGE LAYOUT CONTAINERS */
/* line 131, ../sass/variables/_layout.scss */
.l-main {
  height: 100%;
  border-left: 0px solid #f00;
  border-right: 0px solid #f00;
  margin: 0 auto; }
  /* line 13, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/toolkit-2.6.0/stylesheets/toolkit/_clearfix.scss */
  .l-main:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 64.0625em) {
    /* line 131, ../sass/variables/_layout.scss */
    .l-main {
      min-height: 360px;
      width: 940px; } }

/* line 147, ../sass/variables/_layout.scss */
.l-content {
  position: relative;
  border: 0px solid red;
  padding-top: 50px;
  /* mobile only! social media goes here */ }
  @media (min-width: 36.3125em) and (max-width: 48em) {
    /* line 147, ../sass/variables/_layout.scss */
    .l-content {
      padding-top: 0px; } }
  @media (min-width: 48.0625em) and (max-width: 64em) {
    /* line 147, ../sass/variables/_layout.scss */
    .l-content {
      padding-top: 0px; } }
  @media (min-width: 64.0625em) {
    /* line 147, ../sass/variables/_layout.scss */
    .l-content {
      padding-top: 0px; } }

/* SET STICKY FOOTER CONTROLS HERE */
/* line 159, ../sass/variables/_layout.scss */
.l-page {
  min-height: 100%;
  padding-bottom: 2em;
  margin-bottom: -475px; }

/* line 168, ../sass/variables/_layout.scss */
.super-footer {
  width: 100%;
  position: relative;
  display: none;
  /* TEMP */ }

/* line 174, ../sass/variables/_layout.scss */
footer, .push {
  height: 575px; }
  @media (min-width: 36.3125em) {
    /* line 174, ../sass/variables/_layout.scss */
    footer, .push {
      height: 475px; } }

/* line 183, ../sass/variables/_layout.scss */
footer {
  position: relative;
  width: 100%;
  background-color: #ffc52b; }

/* line 190, ../sass/variables/_layout.scss */
.l-footer {
  padding-top: 10px;
  clear: both; }
  /* line 13, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/toolkit-2.6.0/stylesheets/toolkit/_clearfix.scss */
  .l-footer:after {
    content: "";
    display: table;
    clear: both; }
  /* line 197, ../sass/variables/_layout.scss */
  .l-footer .l-region--footer {
    margin: 0 auto; }
    @media (min-width: 64.0625em) {
      /* line 197, ../sass/variables/_layout.scss */
      .l-footer .l-region--footer {
        width: 940px;
        /*NAV css is located at _footer.scss */ } }
    @media (min-width: 36.3125em) and (max-width: 48em) {
      /* line 197, ../sass/variables/_layout.scss */
      .l-footer .l-region--footer {
        width: 85%; } }
    @media (min-width: 48.0625em) and (max-width: 64em) {
      /* line 197, ../sass/variables/_layout.scss */
      .l-footer .l-region--footer {
        width: 90%; } }

/* END GLOBAL */
/* line 214, ../sass/variables/_layout.scss */
body.front .l-page {
  /* MOBILE FIRST ;-) */ }

/* @media only screen and (min-width:1025px) { */
@media (min-width: 64.0625em) {
  /* moved to global 
  @include add-grid(16);
  @include add-gutter(1/3);
  @include add-gutter-style('split');
  @include sgs-change('debug', true);
  */
  /* line 229, ../sass/variables/_layout.scss */
  body.front .l-page {
    /* background:url('/sites/default/files/bg-ana-homepage.png') no-repeat 0 91px;  */ }
    /* line 232, ../sass/variables/_layout.scss */
    body.front .l-page .l-main {
      /* height:1250px; */
      /*HACK! */ }
    /* line 234, ../sass/variables/_layout.scss */
    body.front .l-page .panels-flexible-1 {
      /*
      position:relative;
      display:block;
      */ }
    /* line 241, ../sass/variables/_layout.scss */
    body.front .l-page .pane-albums-for-homepage-footer-promo h2 {
      display: block;
      width: 100%; }

  /* END HOMEPAGE FOOTER */
  /*ALBUM DISPLAY FOOTER */
  /* line 254, ../sass/variables/_layout.scss */
  #block-views-album-display-footer-block {
    /* @include grid-span(7, 3); */
    width: 760px;
    /*change */
    margin: 0 auto;
    position: relative; } }
/*END MEDIA QUERY SCREEN WIDTH 1025 */
/* line 263, ../sass/variables/_layout.scss */
.l-page {
  background-image: url("/sites/default/files/bg-swirl-orange.png");
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  background-size: auto;
  background-repeat: no-repeat;
  /*NOTE THIS IS HEADER HEIGHT */
  /* width:$desk; */
  /* padding-left:95px;
   padding-right:95px; */
  /*  @include clearfix; removed temp */
  /* overflow-y:auto; */
  /* padding-bottom:80px; not working with super footer */ }
  @media (min-width: 64.0625em) {
    /* line 263, ../sass/variables/_layout.scss */
    .l-page {
      background-position: center 91px; } }
  @media (min-width: 48.0625em) and (max-width: 64em) {
    /* line 263, ../sass/variables/_layout.scss */
    .l-page {
      background-position: center 66px; } }

/* line 281, ../sass/variables/_layout.scss */
header {
  width: 100%;
  /* background-color:$blueGreen; */
  margin: 0 auto; }
  /* line 13, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/toolkit-2.6.0/stylesheets/toolkit/_clearfix.scss */
  header:after {
    content: "";
    display: table;
    clear: both; }

/* 
.l-main { MOVED OUT OF QUERY
	height:100%;
	@include clearfix;
	@include breakpoint($touch-landscape-max) {
		
	}
	@include breakpoint($desktop) {
		
		width:$main-content-desktop;
		
		}
	@extend %global-l_main-padding-top;	
	border-left:0px solid #f00;
	border-right:0px solid #f00;
	margin:0 auto;
	@extend %global-l_main-padding-bottom;	
}

*/
/* line 312, ../sass/variables/_layout.scss */
.l-content {
  padding-left: 1%;
  padding-right: 1%; }
  @media (min-width: 48.0625em) and (max-width: 64em) {
    /* line 312, ../sass/variables/_layout.scss */
    .l-content {
      position: relative;
      padding-left: 10px;
      padding-right: 10px; } }
  @media (min-width: 36.3125em) and (max-width: 48em) {
    /* line 312, ../sass/variables/_layout.scss */
    .l-content {
      position: relative;
      /* TO BE USED W/ NAV-WRAP AND .L-MAIN */
      padding-left: 1.5%;
      padding-right: 1.5%; } }
  @media (min-width: 64.0625em) {
    /* line 312, ../sass/variables/_layout.scss */
    .l-content {
      padding-left: 0;
      padding-right: 0; } }

/* DISPLAY SUITE */
/* line 335, ../sass/variables/_layout.scss */
.ds-2col-stacked > .group-left, .ds-2col-stacked > .group-right {
  /*MOBILE FIRST 1 COLUMN */
  float: none;
  /* LTR */
  width: 100%;
  clear: both; }

@media (min-width: 36.3125em) {
  /* line 343, ../sass/variables/_layout.scss */
  .ds-2col-stacked > .group-left {
    float: left;
    /* LTR */
    width: 50%;
    clear: left; }

  /* line 349, ../sass/variables/_layout.scss */
  .ds-2col-stacked > .group-right {
    float: right;
    /* LTR */
    width: 50%;
    clear: none; } }
/* line 357, ../sass/variables/_layout.scss */
.ds-2col-stacked > .group-footer {
  clear: both; }

/* line 361, ../sass/variables/_layout.scss */
#widthMonitor {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 20px;
  background: #000;
  color: #fff;
  font-size: 10px;
  z-index: 100; }

/* line 3, ../sass/variables/_modal_windows.scss */
div.modal-content form.user-register-form #edit-email {
  width: 100%; }
/* line 6, ../sass/variables/_modal_windows.scss */
div.modal-content form.user-register-form input[type="submit"] {
  /* @include  */ }

/* used to fix annoying sass error, dont' use this var */
/**
 * $FONT-FACE
 */
@font-face {
  font-family: 'bebasregular';
  src: url("../fonts/bebas___-webfont.eot");
  src: url("../fonts/bebas___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas___-webfont.woff2") format("woff2"), url("../fonts/bebas___-webfont.woff") format("woff"), url("../fonts/bebas___-webfont.ttf") format("truetype"), url("../fonts/bebas___-webfont.svg#bebasregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'bebas_neue_regularregular';
  src: url("../fonts/bebasneue_regular-webfont.eot");
  src: url("../fonts/bebasneue_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue_regular-webfont.woff2") format("woff2"), url("../fonts/bebasneue_regular-webfont.woff") format("woff"), url("../fonts/bebasneue_regular-webfont.ttf") format("truetype"), url("../fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/** 
 * FLATICONS 
*/
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"), url("../fonts/flaticon.woff") format("woff"), url("../fonts/flaticon.ttf") format("truetype"), url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 49, ../sass/variables/_typography.scss */
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal; }

/*
.flaticon-facebook2:before {
    content: "\e000";
}
.flaticon-logo22:before {
    content: "\e001";
}
.flaticon-youtube31:before {
    content: "\e002";
}
*/
/* line 66, ../sass/variables/_typography.scss */
.flaticon-facebook2:before {
  content: "\e000"; }

/* line 69, ../sass/variables/_typography.scss */
.flaticon-logo22:before {
  content: "\e001"; }

/* line 72, ../sass/variables/_typography.scss */
.flaticon-magnifier12:before {
  content: "\e002"; }

/* line 75, ../sass/variables/_typography.scss */
.flaticon-magnifier13:before {
  content: "\e003"; }

/* line 78, ../sass/variables/_typography.scss */
.flaticon-marker20:before {
  content: "\e004"; }

/* line 81, ../sass/variables/_typography.scss */
.flaticon-next25:before {
  content: "\e005"; }

/* line 84, ../sass/variables/_typography.scss */
.flaticon-play-button4:before {
  content: "\e006"; }

/* line 87, ../sass/variables/_typography.scss */
.flaticon-play109:before {
  content: "\e007"; }

/* line 90, ../sass/variables/_typography.scss */
.flaticon-play43:before {
  content: "\e008"; }

/* line 93, ../sass/variables/_typography.scss */
.flaticon-right133:before {
  content: "\e009"; }

/* line 96, ../sass/variables/_typography.scss */
.flaticon-shopping-cart13:before {
  content: "\e00a"; }

/* line 99, ../sass/variables/_typography.scss */
.flaticon-shopping-cart7:before {
  content: "\e00b"; }

/* line 102, ../sass/variables/_typography.scss */
.flaticon-shopping122:before {
  content: "\e00c"; }

/* line 105, ../sass/variables/_typography.scss */
.flaticon-shopping232:before {
  content: "\e00d"; }

/* line 108, ../sass/variables/_typography.scss */
.flaticon-videoplayer5:before {
  content: "\e00e"; }

/* line 111, ../sass/variables/_typography.scss */
.flaticon-youtube31:before {
  content: "\e00f"; }

/* ICO MOON */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?7cm3b3");
  src: url("../fonts/icomoon.eot?#iefix7cm3b3") format("embedded-opentype"), url("../fonts/icomoon.ttf?7cm3b3") format("truetype"), url("../fonts/icomoon.woff?7cm3b3") format("woff"), url("../fonts/icomoon.svg?7cm3b3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 127, ../sass/variables/_typography.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 140, ../sass/variables/_typography.scss */
.icon-menu:before {
  content: "\e9bd"; }

/* line 143, ../sass/variables/_typography.scss */
.icon-menu2:before {
  content: "\e9be"; }

/* line 146, ../sass/variables/_typography.scss */
.icon-menu3:before {
  content: "\e9bf"; }

/* line 149, ../sass/variables/_typography.scss */
.icon-cart:before {
  content: "\e93a"; }

/* %flaticon-icons { */
/* line 155, ../sass/variables/_typography.scss */
a.social-icons {
  color: #01a5af !important; }
  /* line 157, ../sass/variables/_typography.scss */
  a.social-icons:hover {
    transition: color 0.3s;
    color: #99cc66 !important; }

/* looks like Verdana, or Trebuchet */
/* line 171, ../sass/variables/_typography.scss */
body {
  font-size: 16px; }

/* line 175, ../sass/variables/_typography.scss */
h1, h2, h3 {
  color: #00a5b0;
  font-family: "bebas_neue_regularregular";
  line-height: 1;
  margin: 0;
  padding: 0; }

/* line 184, ../sass/variables/_typography.scss */
h1, h2 {
  text-transform: uppercase; }

/* line 255, ../sass/variables/_typography.scss */
.notice {
  font-size: .65em;
  font-family: Arial, Helvetica, sans-serif; }

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
/* line 9, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/* line 29, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/* line 40, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 47, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
[hidden],
template {
  display: none; }

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
/* line 11, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_base.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 19, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_base.scss */
body {
  margin: 0; }

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
/* line 9, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_links.scss */
a {
  background: transparent; }

/* line 15, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_links.scss */
a:active,
a:hover {
  outline: 0; }

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
/* line 9, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 15, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
b,
strong {
  font-weight: bold; }

/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
dfn {
  font-style: italic; }

/* line 29, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 36, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 43, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
small {
  font-size: 80%; }

/* line 49, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 57, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sup {
  top: -0.5em; }

/* line 61, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sub {
  bottom: -0.25em; }

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
/* line 9, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_embeds.scss */
img {
  border: 0; }

/* line 15, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_embeds.scss */
svg:not(:root) {
  overflow: hidden; }

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
/* line 9, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
figure {
  margin: 1em 40px; }

/* line 15, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 23, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
pre {
  overflow: auto; }

/* line 29, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
/* line 15, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 27, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button {
  overflow: visible; }

/* line 36, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
select {
  text-transform: none; }

/* line 47, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 57, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/* line 64, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 73, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input {
  line-height: normal; }

/* line 83, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 93, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 102, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 113, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 120, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 129, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
legend {
  border: 0;
  padding: 0; }

/* line 136, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
textarea {
  overflow: auto; }

/* line 143, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
optgroup {
  font-weight: bold; }

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
/* line 9, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_tables.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 14, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/compass-normalize-1.5/stylesheets/normalize/_tables.scss */
td,
th {
  padding: 0; }

/* line 1, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/toolkit-2.6.0/stylesheets/toolkit/_kickstart.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 11, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@global/gems/toolkit-2.6.0/stylesheets/toolkit/_kickstart.scss */
img, video {
  max-width: 100%;
  height: auto; }

/*# sourceMappingURL=lovetribevibes.normalize.css.map */
