

.jw-icon {
  font-family: 'jw-icons';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  background-color: transparent;
  font-variant: normal;
  /* Enable Ligatures ================ */

  -webkit-font-feature-settings: "liga";
     -moz-font-feature-settings: "liga=1";
     -moz-font-feature-settings: "liga";
      -ms-font-feature-settings: "liga" 1;
       -o-font-feature-settings: "liga";
          font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

/* Use this class to set a global background color for all elemnts. */
.jw-skin-ltv-skin-one .jw-background-color {
  background: black;
}

/* This is the class that houses all controls. Use this to adjust the appearance of the entire controlbar. */
.jw-skin-ltv-skin-one .jw-controlbar {
  border-top: #8cb8c8 1px solid;
  height: 2.5em;
}


/* Vertically aligns the timeslider and icons in the center of the controlbar. */
.jw-skin-ltv-skin-one .jw-group {
  vertical-align: middle;
}

/* Sets the style for the visual playlist. */

.jw-skin-ltv-skin-one .jw-playlist {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Aligns the visual playlist above its icon. */

.jw-skin-ltv-skin-one .jw-playlist-container {
  left: -43%;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Sets the style for the visual playlist items. */
.jw-skin-ltv-skin-one .jw-playlist-container .jw-option {
  border-bottom: 1px solid #01a5af;
}

/* Allows you to adjust the color of the playlist item when hovering and has a different active style.*/

.jw-skin-ltv-skin-one .jw-playlist-container .jw-option:hover,
.jw-skin-ltv-skin-one .jw-playlist-container .jw-option.jw-active-option {
  background-color: #01a5af;
}

/* Changes the color of the label when hovering.*/

.jw-skin-ltv-skin-one .jw-playlist-container .jw-option:hover .jw-label {
  color: #8cb8c8;
}

/* Aligns the playlist header icon with the items in the playlist. */
.jw-skin-ltv-skin-one .jw-playlist-container .jw-icon-playlist {
  margin-left: 0;
}

/* Sets the color of the play icon of the currently playing playlist item.*/
.jw-skin-ltv-skin-one .jw-playlist-container .jw-label .jw-icon-play {
  color: #01838c;
}

/* Aligns the playlist play icon with the items in the playlist. */
.jw-skin-ltv-skin-one .jw-playlist-container .jw-label .jw-icon-play:before {
  padding-left: 0;
}

/* Style for playlist item, current time, qualities, and caption text.*/
.jw-skin-ltv-skin-one .jw-text {
  color: #01838c;
}

/* Sets the color of the playlist title */
.jw-skin-ltv-skin-one .jw-tooltip-title {
  color: #01838c;
}

/* Color for all buttons when they are inactive.*/

.jw-skin-ltv-skin-one .jw-button-color {
  color: #01a5af;
}

/* Color for all buttons for when they are hovered on. */

.jw-skin-ltv-skin-one .jw-button-color:hover {
  color: #8cb8c8;
}


/* Color for when HD/CD icons are toggled on. */
.jw-skin-ltv-skin-one .jw-toggle {
  color: #8cb8c8;
}

/* Color for when HD/CD icons are toggled off. */
.jw-skin-ltv-skin-one .jw-toggle.jw-off {
  color: #01a5af;
}

/* Sets spacing between controlbar icons and text */
.jw-skin-ltv-skin-one .jw-controlbar .jw-icon:before,
.jw-skin-ltv-skin-one .jw-text-elapsed,
.jw-skin-ltv-skin-one .jw-text-duration {
  padding: 0 .7em;
}

/* Removes icon padding to align the playlist header icon with the items in the playlist. */
.jw-skin-ltv-skin-one .jw-controlbar .jw-icon-playlist:before {
  padding: 0;
}

/* Sets the style for the prev and next icons. */
.jw-skin-ltv-skin-one .jw-icon-prev,
.jw-skin-ltv-skin-one .jw-icon-next {
  font-size: .7em;
}

/* Adds the spacer style to between the play icon and the previous icon. */
.jw-skin-ltv-skin-one .jw-icon-prev:before {
  border-left: 1px solid #01838c;
}

/* Adds the spacer style to between the next item and current time.  */
.jw-skin-ltv-skin-one .jw-icon-next:before {
  border-right: 1px solid #01838c;
}

/* Color of the display icon */
.jw-skin-ltv-skin-one .jw-icon-display {
  color: #fff;
}

/* Centers the display icon in it's container */
.jw-skin-ltv-skin-one .jw-icon-display:before {
  padding-left: 0;
}

/* Turns the display icon container into a circle. */
.jw-skin-ltv-skin-one .jw-display-icon-container {
  border-radius: 50%;
  padding: 0 .3em;
  border: 1px solid #01838c;
}

/* Centers the display icon in the center. */
.jw-skin-ltv-skin-one.jw-state-idle .jw-display-icon-container {
  padding: 0 0 0 .5em;
}

/* Styles the timeslider rail */
.jw-skin-ltv-skin-one .jw-rail {
  background-color: #01838c;
  box-shadow: none;
}

/* Sets the color for the buffer of the timeslider rail. */
.jw-skin-ltv-skin-one .jw-buffer {
  background-color: #01838c;
}

/* Sets the style for the elaspesd progress. */
.jw-skin-ltv-skin-one .jw-progress {
  background: #01838c;
}

/* Sets the width of the knob's container */
.jw-skin-ltv-skin-one .jw-knob {
  width: .6em;
}

.jw-skin-ltv-skin-one .jw-knob:after {
  background-color: #fff;
  box-shadow: 0px 0px 0px 1px #01838c;
  width: .6em;
  height: .6em;
  border-radius: 1em;
}

/* Sets the height for the horizontal slider container. */
.jw-skin-ltv-skin-one .jw-slider-horizontal .jw-slider-container {
  height: 0.95em;
}

/* Sets the height for the horizontal slider elements. */
.jw-skin-ltv-skin-one .jw-slider-horizontal .jw-rail,
.jw-skin-ltv-skin-one .jw-slider-horizontal .jw-buffer,
.jw-skin-ltv-skin-one .jw-slider-horizontal .jw-progress {
  height: .2em;
  border-radius: 0;
}


/* Centers the knob vertically. */
.jw-skin-ltv-skin-one .jw-slider-horizontal .jw-knob {
  top: -0.19999999999999998em;
}

/* Cetners the timeslider cuepoints vertically. */
.jw-skin-ltv-skin-one .jw-slider-horizontal .jw-cue {
  top: -0.04999999999999999em;
}

/* Sets the style for the cuepoints. */
.jw-skin-ltv-skin-one .jw-slider-horizontal .jw-cue:after {
  width: .3em;
  height: .3em;
  background-color: #01838c;
  border-radius: 50%;
}

/* Sets the width for the vertical slider elements. */
.jw-skin-ltv-skin-one .jw-slider-vertical .jw-rail,
.jw-skin-ltv-skin-one .jw-slider-vertical .jw-buffer,
.jw-skin-ltv-skin-one .jw-slider-vertical .jw-progress {
  width: .2em;
}


/* Sets the position of the volume slider container. */
.jw-skin-ltv-skin-one .jw-volume-tip {
  width: 100%;
  left: -45%;
  padding-bottom: .7em;
}


/* Sets the color of the duration text in the controlbar. */
.jw-skin-ltv-skin-one .jw-text-duration {
  color: #01838c;
}


/* Adds a left border as a spacer between all contorlbar icons. */
.jw-skin-ltv-skin-one .jw-controlbar-right-group .jw-icon-tooltip:before,
.jw-skin-ltv-skin-one .jw-controlbar-right-group .jw-icon-inline:before {
  border-left: 1px solid #666;
}

/* Removes the border from the first icon after the time duration text. */
.jw-skin-ltv-skin-one .jw-controlbar-right-group .jw-icon-inline:first-child:before {
  border: none;
}

/* This styles the dock icons into a circle. */
.jw-skin-ltv-skin-one .jw-dock .jw-dock-button {
  border-radius: 50%;
}

/* This styles tooltip for dock text background. */
.jw-skin-ltv-skin-one .jw-dock .jw-overlay {
  border-radius: 2.5em;
}

/*This sets the font color and background color for the active item in HD and CC menus. */
.jw-skin-ltv-skin-one .jw-icon-tooltip .jw-active-option {
  background-color: #01838c;
  color: #fff;
}

/* Sets a min width for the volume container so that when it changes between mute and volume, the controlbar does not shift. */
.jw-skin-ltv-skin-one .jw-icon-volume {
  min-width: 2.6em;
}

/* Sets the style for the time tooltip, menu, volume. */
.jw-skin-ltv-skin-one .jw-time-tip,
.jw-skin-ltv-skin-one .jw-menu,
.jw-skin-ltv-skin-one .jw-volume-tip,
.jw-skin-ltv-skin-one .jw-skip {
  border: 1px solid #01838c;
}

/* Sets the position for the time tooltip. */
.jw-skin-ltv-skin-one .jw-time-tip {
  padding: 0.2em;
  bottom: 1.3em;
}

/* Sets the position for the vertical volume slider. */
.jw-skin-ltv-skin-one .jw-menu,
.jw-skin-ltv-skin-one .jw-volume-tip {
  bottom: .15em;
}

/* Sets the shape of the skip icon. */
.jw-skin-ltv-skin-one .jw-skip {
  padding: 0.4em;
  border-radius: 1em;
}

/* Sets the style for the skip text. */
.jw-skin-ltv-skin-one .jw-skip .jw-text,
.jw-skin-ltv-skin-one .jw-skip .jw-icon-inline {
  color: #ffffff;
  font-size: 0.7em;
}
