#main-nav-inner-wrapper .view-shopping-cart {
	z-index: 50;
	float:left;
	clear:none;
	/* border:1px solid #ccc; */
	/* height:60px; */
	/* width:200px; */
	display:inline-block;
}

#ajax-shopping-cart-wrap {
  padding: 0 1.5%;
  background-color:$navCartBg; 
  height:59px;
  /* width:80px; */
  display:none;
  @include breakpoint($desktop){
    display: flex;
  }
  
  

  .view-content {
    padding-top: 0;
    display:none;
  }

} 

.line-item-summary .line-item-total span {font-weight:normal;}

.line-item-total {
  display:none;
  @include breakpoint($desktop){
    display:inline-block;
  }
}

.line-item-summary-checkout a {
  color:#fff !important; 
  /*
  &:hover {
    @include text-hover;
  }; */
}

.line-item-summary-checkout a:hover {
    color:$ltvOrange !important; 
}

.view-empty {
  font-size:10px;
  color:#fff; 
} 

.commerce-ajax-cart-processed-processed {
	padding:0;  
} 
.commerce-ajax-cart-processed-processed .view-content {
	padding-top:0 !important; 
} 
  
#main-nav-inner-wrapper .view-shopping-cart .view-content .views-row {
	/* margin-top:-60px; */
	position:relative;
	top:-60px; 
}  
.view-footer {
	font-size:10px;
	color:#fff;
}  

#commerce-ajax-cart-preview {
border-radius:6px; 
position:relative; 

width:200px;
background-color : $ltvGreen ;
  background : $ltvGreen;
  padding: .5em .5em 15px .5em;
  box-sizing: content-box ;
  
  @include all-purpose-bg-shadow;   
  z-index:50; 
  font-size: 9px; 

.view-content {
	
	/* height:50px;   */ 
} 

.views-table {
  	width:100%;
  	position:relative;
  	top:-50px; /*HACK */
  	td {
  		padding:1px 0;
  	} 
} 


.view-footer {
	font-size:10px;
	color:#fff;
	position:relative;
  	

  	.links--inline {
  		float:right;
  		li {
  			margin-left: 1em;
  			margin-right: 0;
  		} 
  		a {
  			color:$drkBlueTxt; 
  		}
  	}
}  

}

.line-item-total {
	display:block; 
	clear:both;

}

/* TRY OUT THESE DIVS, FROM AJAX.js */


