


#block-views-footer-promo-block-1 {
	width:75%;
	margin:0 auto;
	position:relative;
@include footer-promo-border-radius;  
box-shadow:-1px 2px 6px 0px rgba(100, 100, 100, .9);
}

#block-views-footer-promo-block-1 .footer-header {
	background-color:$addCartYellow;
	height:43px;
position:relative;
@include footer-promo-border-radius;  

/*
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
*/

position:relative;
}

/*** FOOTER PROMO ***/
div.menu-footer-promo {background-color:#fff;padding-top:15px;padding-left:27px;position:relative;padding-bottom:15px;

ul {list-style-type:circle;
	li {float: left;margin-right: 30px;
		a {color:#666e41;font-weight:900;font-size:1.1em;left:-3px;position:relative}
		a:hover {text-decoration: underline}
		}
	}
}

div.menu-footer-promo ul li#join-us-footer {}


#block-views-footer-promo-block-1 h2.block-title {
text-transform: uppercase;
font-weight: 500;
font-size: 2em;
display: inline;
position:relative;
top:11px;
margin-left: 6.5%;
background-color: $addCartYellow;
text-shadow: $textShadow;
}

div.view-id-footer_promo {
	position: relative;
}
  
div.view-id-footer_promo article header {
	border:none;
}

#block-views-footer-promo-block-1 table.views-view-grid {
	width:98%;
	margin:0 auto;
}

div.view-id-footer_promo table.views-view-grid tr { 
border: 0;
background-color: #fff;
}

div.view-id-footer_promo table.views-view-grid td {
	padding-bottom:12px;
	width:33%;
}
div.view-id-footer_promo table.views-view-grid td article {
	position:relative;
	width:95%;
	margin:0 auto;
}

#block-views-footer-promo-block-1 .block__content { /* WTF? */
	background: #fff;
}

div.view-id-footer_promo table.views-view-grid article{
padding:1.9em .5em 0 .5em;
border:1px solid #ccc;
-webkit-border-top-left-radius: 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: -1px 1px 5px 0px rgba(105, 105, 105, 0.35);
-moz-box-shadow:    -1px 1px 5px 0px rgba(105, 105, 105, 0.35);
box-shadow:         -1px 1px 5px 0px rgba(105, 105, 105, 0.35);
height:160px;

}

article.node--footer-promo-bucket h2 {margin-bottom: 0}

article.node--footer-promo-bucket h2 a {
color: $ltvFooterPromoHdr;
font-size: .7em;
  font-weight:600;
  color: #707070;
  letter-spacing:.04em;
  text-transform:uppercase;
  text-decoration: none;
}
article.node--footer-promo-bucket p {
	font-size:.85em;margin-top:5px ;
}

article.node--footer-promo-bucket li.node-readmore {
	display:none;
}

