.pane-homepage-playa-panel-pane-1 {
	background-color:#fff;
	position:absolute;
	padding:0; 
	top:-550px;
	left:0;
	right:0;
	width:95%;
	margin:0 auto;

	@include breakpoint($tablet-portrait){
		background-color:rgba(255, 255, 255, 0.2);
		position:absolute;
		top:-465px;
		left:0px;
		width:95%;
		margin:0 auto;
		}

	@include breakpoint($tablet-landscape){
		background-color:rgba(255, 255, 255, 0.2);
		position:absolute;
		top:-430px;
		left:330px;
		width:410px;
		}	
	@include breakpoint($desktop){
		background-color:rgba(255, 255, 255, 0.2);
		position:absolute;
		top:-410px;
		left:470px;
		width:460px;
		}
	cursor:move;	
	z-index:30;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	-webkit-box-shadow:-1px 2px 6px 0px rgba(120, 120, 120, .5);
	-moz-box-shadow:-1px 2px 6px 0px rgba(120, 120, 120, .5);
	box-shadow:-1px 2px 6px 0px rgba(120, 120, 120, .5);
	p {margin:0;padding:0;}

	h2.pane-title {
		background-color: $ltvOrange;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		font-family:$oswald;
	font-size:1.5em;
	padding-top:12px;
	padding-left:15px;
	padding-bottom: 8px;
	text-transform:uppercase;
	color:#fff;
	margin:0px;	
	font-weight:200;
	letter-spacing: 1px;
	text-shadow:2px 1px 2px rgba(50, 50, 50, 0.6);
	}
	.views-row {
		border-bottom:1px solid $ltvOrange;
		padding-left:7px;padding-top:8px;padding-bottom:3px;
		padding-right:7px;
		position:relative;

		nav.node-links, div.sm2-menu {display:none;}
		.mp3-thumb {
			display:inline;

		}
		.sm2-bar-ui {
			width:65%;
			@include breakpoint($tablet-portrait){width:80%;}
			@include breakpoint($tablet-landscape){width:70%;}
			@include breakpoint($desktop){width:70%;}
			

			min-width:1%;
			.sm2-playlist ul li {text-align: left} 
			.sm2-inline-time {display:none;}
		}


		.track-price {
			position: absolute;
			top:14px;
			right:7px;
			font-size:.85em; 
		} 
		input[type="submit"] {
			position: absolute;
			bottom:7px;
			right:7px;
			font-size:.85em;
			@include add-to-cart-basic;
		}  


	}




}