body.not-logged-in {
	#modalContent {
		position: relative;
	
		.modal-title {
			display: inline-block;
		    width: 100%;
		    text-align: center;
		    font-size: 3em;
		    @include headline-default;
		    text-transform: uppercase;
		}
	form.user-login, form.user-register-form {
		width:90%;
		margin: 0 auto;

		.form-item {
			display: block;
			width:100%;
			margin:0 auto 10px 0 !important;

			label {
				display:block;
				color:$drkBlueTxt;
				width:100%;
				margin-bottom: 5px;
			}

			input {
				width:100%;
				margin-bottom: 5px;
				height:40px;
				box-shadow: rgba(204, 204, 204, 0.29) 0px 2px 0px 0.5px inset;
			}
			.description {
				width:100%;
				text-align: center;
				color:#dedede;
			}
			.password-strength {
			    float: right;
			    margin-top: 1.2em;
			    width: 20em;
			    margin-bottom: 10px;
			}
			.password-indicator {
				height:10px;
			}
		}
		ul {
			padding:0;
			li a {
				display: block;
				text-align:center;
			}	
		}
		input[type="submit"] {
			width:100% !important;
			height:40px;
			font-size:2em;  
		}  
	}
}

}