body.page-home {
	
	#block-block-10 { /* SLOGAN ANIM */
		border: 0px solid pink;
	    position: absolute;
	    right: 0px;
	    width:100%;
	    text-align:center;
	    
	    @include breakpoint($tablet-landscape){top: 8px;width: 543px;text-align:left;left:220px;}
		@include breakpoint($tablet-portrait){display:none;} 	    
		@include breakpoint($desktop){top:50px;width: 593px;text-align:left;}
		
		.tlt span {
			white-space: nowrap;
			@include slogan-anime(48px, center);
			
			@include breakpoint($touch-landscape){
				@include slogan-anime(48px, center);
		        /* font-size:62px;   
		        text-align:left; */
    		}

			@include breakpoint($touch-landscape){
				@include slogan-anime(62px, left);
		        /* font-size:62px;   
		        text-align:left; */
    		}
			@include breakpoint($tablet-portrait){
				@include slogan-anime(72px, left);
		        /* font-size:72px;   
		        text-align:left; */
		    }
			@include breakpoint($tablet-landscape){
				@include slogan-anime(72px, left);
		        /* font-size:72px;    
		        text-align:left; */
		    }
		    @include breakpoint($desktop){
		    @include slogan-anime(75px, left);
		        /*font-size:75px;  
		        text-align:left; */
		    } 
		}
		ul.home-slogan {
			list-style-type: none;
			
		}
		form {display:none;}  
	}

	#block-block-12 {
		display: none;
		@include breakpoint($tablet-portrait){
			display:block;
		}
		position:absolute;
		border:1px solid red;
		top:20px;
		left:190px;
		color:#00a5b0;
    	font-family:$bebasNeue;
	    text-transform:uppercase;

	    span {position:absolute;display:block;@include ltv-text-shadow;}
	    span.ltv {font-size:4.8em;width:450px;border:0px solid yellow;}
	    span.slogan-static-ln234 {font-size: 3.7em;
		    top: 85px;
		    left: 120px;
		    border: 0px solid yellow;
		    width: 500px;}
	    span.slogan-static-ln5 {font-size: 3.7em;
		    top: 300px;
		    left: 50px;
		    border: 0px solid yellow;
		    width: 500px;}

		@include breakpoint($tablet-landscape-min) {
			display:none;
		}

	} 


} 