body.front #block-block-2 {
	display:none;

	@include breakpoint($tablet-landscape-min){
		position: absolute;
		display: block;
		border: 0px solid green;
    	width: 165px;
    	top:10px;
    	right:0;
    	text-align: right;
	}
	ul { 
		text-align:center;
		margin:0 auto;
		width:100%;
		@include clearfix;
		list-style-type:none;
		padding:0;
		li {
			width:30%;
			display:inline-block;
			a {
				margin:0 auto;
				img {
					height:45px;
					}
				}
			}
		}

}	

body.front #block-block-13 { /*iPhone & Tablet PortraitONLY */
		position: absolute;
		display: block;
		border: 0px solid green;
    	top:390px;
    	@include breakpoint($tablet-portrait){
    		top:35px;
    	}
    	right:0;
    	text-align: right;
		

	@include breakpoint($tablet-landscape-min){
		display: none;
		}

	ul { 
		text-align:right;
		margin:0 auto;
		width:100%;
		@include clearfix;
		list-style-type:none;
		padding:0 10px 0 0;
		li {
			width:100%;
			display:block;
			margin-bottom: 10px;

			a {
				margin:0 auto;
				img {
					height:45px;
					}
				}
			}
		}

}