/* GLOBAL */
.social-media-int-ds{
	/* position:absolute; */
	position:relative;

	ul.social-media-int {
		list-style-type: none;
		padding:0;
		li {
			display:inline;  
			margin-right:7px;
			/* a:before {font-size:1.1em;}; */ 
			
			a:before {
				font-size:2.4em;
				line-height:1;
				}	

			}
		}
	}

#block-block-6 {
	position:absolute;
	top:0;
	width:100%;
	ul.social-media-int {
		list-style-type: none;
		padding:0;
		text-align:center;

		li {
			display:inline-block;   
			margin:0 5%;
			a:before {
				font-size:2.4em;
				line-height:1;
				}	
		}
	}
}

/* GREEN SOCIAL MEDIA ICONS iPHONE FRONT ************/
/*
body.front #block-block-2 {
	display:none;
	width:100%;
	@include clearfix;
	padding-top:5px; 
	position: absolute;
	
	top:0px;  
	z-index:10;
}	
*/


/* INDV PAGES */

/* BROWSE ALBUMS */
body.section-browse-albums-mobile #block-block-6 {
	
	ul.social-media-int {
		
		li {
			
			/* margin-right:15px; WTF?? */
			/* a:before {font-size:1.1em;}; */ 
			margin:0 5%;
			
			}
		}
}

body.section-browse-albums #block-block-6 {
		position:absolute;
		@include breakpoint($tablet-all){
			left:325px;
			top:9px;   
			width:220px;
			border:0px solid red;
		}
		
		@include breakpoint($desktop){
			border:0px solid red;	
			left:325px;
			top: 9px;
			width:220px;
		}  
		
		ul {
		text-align:center;
		@include breakpoint($desktop) {
			text-align:left;
		}
		@include breakpoint($tablet-all) {
			text-align:left;
		}
		padding:0;
		width:100%; 
			li {
			display:inline-block;
			float:none;
			 margin:0 5%;
			 text-align:center; 
			@include breakpoint($tablet-all) {
				width:45px; 
				margin:0 0 0 3%;
			}
			@include breakpoint($desktop) {
				width:45px; 
				margin:0 3% 0 0;
			}

			/*margin:0 5%;  */
			a:before {
				font-size:2.4em;
				line-height:1;
				}	
			}
		}
	}


/* ALUBM DISPLAY */

body.section-productmnmediaalbumdisplay #block-block-6, body.section-ltvalbumii #block-block-6 {
		position:absolute;
		@include breakpoint($tablet-all){
			right:11px; /* align w/ mobile menu icon in toolbar */ 
			top:0px;   
			width:220px;
			border:0px solid red;
		}
		
		@include breakpoint($desktop){
			border:0px solid red;	
			left:50%;
			top: 7px;
			width: 50%;
		} 
		
		ul {
		text-align:center;
		@include breakpoint($desktop) {
			text-align:right;
		}
		@include breakpoint($tablet-all) {
			text-align:right;
		}
		padding:0;
		width:100%; 
			li {
			display:inline-block;
			float:none;
			 margin:0 5%;
			 text-align:center; 
			@include breakpoint($tablet-all) {
				width:45px; 
				margin:0 0 0 3%;
			}
			@include breakpoint($desktop) {
				width:45px; 
				margin:0 3% 0 0;
			}

			/*margin:0 5%;  */
			a:before {
				font-size:2.4em;
				line-height:1;
				}	
			}
		}
	}

body.section-productmnmediaalbumdisplay #block-block-6 { /* TOP NOT same as ltv */
	@include breakpoint($tablet-all){top:0px;}
	@include breakpoint($desktop){top:0px;}
}

/* BROWSE DVDS (DVD View) */

body.section-dvds #block-block-6 {
		position:absolute;
		@include breakpoint($tablet-all){
			right:0;
			top:9px;   
			width:220px;
			border:0px solid red;
		}
		
		@include breakpoint($desktop){
			border:0px solid red;	
			left:395px;
			top: 9px;
			width:220px;
		}  
		
		ul {
			text-align:center;
			@include breakpoint($desktop) {
				text-align:left;
			}
			@include breakpoint($tablet-all) {
				text-align:left;
			}
			padding:0;
			width:100%; 
			li {
			
				display:inline-block;
				float:none;
				text-align:center; 
				margin:0 5%;	
				
				@include breakpoint($tablet-all) {
					width:45px; 
					margin:0 0 0 3%;
				}

				@include breakpoint($desktop) {
				width:45px; 
				margin:0 3% 0 0;
				}
				/*margin:0 5%;  */
				a:before {
				font-size:2.4em;
				line-height:1;
				}	
			}
		}
	}


/* MISSION ************/	
body.section-mission .social-media-int-ds {
	position:absolute;
	top:7px; /* compensates for mysterious padding aroudn h1 tag */
	@include breakpoint($tablet-min) {
		top:15px; 
	}
	width:100%; 

	ul {text-align:center;
		padding:0;
		li {
		display:inline-block;
		float:none;
		/* width:25%; */ 
		margin:0 5%;  
		}
	}
	
	@include breakpoint($tablet-portrait){
		right:0;
		top:15px;
		width:150px;
		border:0px solid red;
 
		ul {text-align:right;
		padding:0 11px 0 0; /* RH side same as nav padding right */
		width:100%; 
			li {
			display:inline-block;
			float:none;
			 width:35px;   
			margin:0 0 0 2%;
			} 
		}
	}
	@include breakpoint($tablet-landscape){
		width:220px;
		border:0px solid red; 
		right:20px;
		top:15px;
		ul li {
			width:27%; 
			margin:0;
		}
	}
	@include breakpoint($desktop){
		width:220px;
		border:0px solid red; 
		right:80px;
		top:15px;
		ul li {
			width:27%; 
			margin:0;
		}
	}
}

/* BROWSE ALBUMS ************/
body.section-browse-albums-mobile {

}


/* BOOKS ************/	
body.section-books .social-media-int-ds, body.section-dvds .social-media-int-ds,  {
	position:relative; 
	padding-top:0; 
	li {
		margin-right:5px !important;
	 }
	a:before {
		font-size:1.5em;
		@include breakpoint($tablet-landscape-min) {
			font-size: 2.1em; 
		}
		line-height: 1;
		}
}

body.section-terms-and-conditions .social-media-int-ds, body.section-privacy-policy .social-media-int-ds, body.section-you-need-a-subscription { 
	display:none;   
}



