

/* WE SUGGEST FOOTER */
.super-footer {

	background-color:$ltvGrey;
	
	.l-region--super-footer {
		
		@include breakpoint($desktop){
			width:$main-content-desktop;
		}
		@include breakpoint($tablet-landscape){
			width:85%;
		}
		@include breakpoint($tablet-portrait){
			width:100%;
		}
		position: relative;
		margin:0 auto;
	}

	.block--views-album-display-footer-block {
		margin:0 auto;
		padding-top:20px;
		}
	h2.block-title {
		@extend %headline;
		font-size: 28px;
  		margin-left: 18px;
	}

@include breakpoint($desktop) {
	table.views-view-grid {
		
		tr {
			td {width:190px;padding-bottom: 25px;padding-top:10px;vertical-align:top;
			}
			td:after {content:none}	
			td:before {content:none}
			.album-cover-main {
				width:100%;
				position:relative;
			img{
				width:160px;
				margin-left:15px;
				position:relative;
				display:block;
			}
		}
			h3.album-footer-artist-name {
				@include album-footer-artist(1em); 
			}
			.field-name-title-field {
				width:100%;
				clear:both;
				/*
				text-align:center;
				font-weight:bold;
				*/
				 @include album-footer-title; 
				margin-bottom: 7px;
			}
			.field-name-commerce-price {
			@include  album-footer-price; 
				margin-bottom:7px;
			}
			.field-name-field-product {
				width:100%;
				position:relative;
				
				input[type="submit"] {
					@include add-to-cart-basic;
					@include add-cart-album-display-footer;
					&:hover {
						@include add-cart-bg-hover;
					} 
					}
			}
		}
		nav.node-links {display:none;} 
		}
		} /* END TABLE VIEWS DESKTOP*/

	@include breakpoint($tablet-landscape) {
		table.views-view-grid {
			width:100%;
		tr {
			td {width:25%;padding-bottom: 25px;padding-top:10px;vertical-align:top;}
			td:after {content:none}	
			td:before {content:none}
			.album-cover-main {
				width:100%;
				position:relative;
				img{
					width:85%;
					margin-left:15px;
					position:relative;
					display:block;
				}
			}
			h3.album-footer-artist-name {
				@include album-footer-artist(1em); 
			}
			.field-name-title-field {
				width:100%;
				clear:both;
				/*
				text-align:center;
				font-weight:bold;
				*/
				@include album-footer-title;
				margin-bottom: 7px;
			}
			.field-name-commerce-price {
				@include album-footer-price;
				margin-bottom:7px;
			}
			.field-name-field-product {
				width:100%;
				position:relative;
				input[type="submit"] {
				
					@include add-to-cart-basic;
					@include add-cart-album-display-footer;
					&:hover {
						@include add-cart-bg-hover;
					}
					
					}
			}
		}
		nav.node-links {display:none;}

		} 
	}	
	/* } END TABLE VIEWS TABLET */

	@include breakpoint($tablet-portrait) {
		table.views-view-grid {
			width:100%;
		tr {
			td {width:25%;padding-bottom: 25px;padding-top:10px;vertical-align:top;}
			td:after {content:none}	
			td:before {content:none}
			.album-cover-main {
				width:100%;
				position:relative;
				img{
					width:85%;
					margin-left:15px;
					position:relative;
					display:block;
				}
			}
			h3.album-footer-artist-name {
				@include album-footer-artist(1em); 
			}
			.field-name-title-field {
				width:100%;
				clear:both;
				/*
				text-align:center;
				font-weight:bold;
				*/
				@include album-footer-title;
				margin-bottom: 7px;
			}
			.field-name-commerce-price {
				@include album-footer-price;
				margin-bottom:7px;
			}
			.field-name-field-product {
				width:100%;
				position:relative;
				input[type="submit"] {
				
					@include add-to-cart-basic;
					@include add-cart-album-display-footer;
					&:hover {
						@include add-cart-bg-hover;
					}
					
					}
			}
		}
		nav.node-links {display:none;}

		} 
	}	
	/* } END TABLE VIEWS TABLET */
	







	} /*END FOOTER */
