// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "toolkit/kickstart";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";  
@import "layout/**/*";
@import "pages/**/*";

  
@include breakpoint($desktop) {  
		/*  @include monitor-breakpoint-qs('desktop min-width 1025');  */
	}
@include breakpoint($tablet-landscape) {
		@include monitor-breakpoint-qs('tablet landscape 769 1024');
	}
@include breakpoint($tablet-portrait) {
		@include monitor-breakpoint-qs('tablet portrait 581 768');
	}		 
@include breakpoint($touch-landscape-max) {
		/* @include monitor-breakpoint-qs('small touch max 580'); */
	}

   

/* GLOBAL SETTINGS */

html, body {height:100%;}

ul {
	list-style-type:none;
}

th {
	padding:3px 2px;
	background-color:$ltvGreen;
}


/* YOGA CLASS PASS VIEW */
.pane-1 p {
	width:75%;
}

.view-id-yoga_class_pass_view {
	table.views-view-grid {
		width:90%;
		margin:0 auto;
		td {
		width:33.3%;
			p {
				padding-right:20px;
			}
		}
	}
	

	.field--name-title-field {
		font-weight: bold;
		font-size:1.5em;
	}
}
.view-id-yoga_class_pass_view table.views-view-grid td.col-3, .view-id-yoga_class_pass_view table.views-view-grid td.col-last{padding-top:0; /* WTF?!?! */}
.view-id-yoga_class_pass_view table.views-view-grid td.col-3 article {position:relative;top:-8px;}




